﻿<!DOCTYPE html>
<html lang="en">
<head>

    <script type='text/javascript' src='//code.jquery.com/jquery-2.1.0.js'></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="~/Content/bootstrap-datetimepicker3/bootstrap-datetimepicker.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker3/ans-bootstrap-datetimepicker.css" rel="stylesheet" />

@* 
        <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/moment2/moment.js"></script>
    <script src="~/Content/moment2/locale/th.js"></script>
    <script src="~/Content/bootstrap-datetimepicker3/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker3/ans-bootstrap-datetimepicker.css" rel="stylesheet" />
*@ 


    @*eonasdanDateTimePicker*@
    <script>
        $(function () {
            //// Show  DateTime  
            $("input[class*='DateTimePicker1']").datetimepicker({
            // locale: 'th' ,  // locale have Issuse with  Buddhist calendar  in   >>  format: 'lll'
            format: 'MM/DD/YYYY HH:mm' 
            })

            //// Show  Date  Only
            $("input[class*='DateTimePicker2']").datetimepicker({
               locale: 'th',  // locale have Issuse with  Buddhist calendar  in   >>  format: 'lll'
            format: 'MM/DD/YYYY'
            })

            //// Show Time Only
            $("input[class*='DateTimePicker3']").datetimepicker({
                 locale: 'th',  // locale have Issuse with  Buddhist calendar  in   >>  format: 'lll'
                 format: 'HH:mm'
            })

        });

    </script>


    @RenderBody() 