﻿@*////// Add PageList//////// *@
@using PagedList
@using MVC442.Helper.UT

@*@using PagedList.Mvc*@
@model IPagedList<MVC442.Models.ViewModel.SlideManageVM>

@{
    Layout = "~/Views/TestDateTimePickerBootstap3Eonasdan/_LayoutDateTimePickerBootstap3Eonasdan.cshtml";
    ViewBag.Title = "Index";
    string conType = Request.QueryString["type"];
}

<style>
    .dataList td:nth-child(1) {
        width: 3%;
    }
 

    .dataList td:last-child {
        width: 11%;
    }
</style>

 

<p>
    <div style="float:left">   @Html.ActionLink("Create New", "Create", null, new { @class = "btnDefault" })</div>
    <div style="float:right;text-align:right">
     
     
        </div>
        </p>
        <div class="clear"></div> <br />
        <table class=" dataList">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().SlideId)
                </th>
            

                <th>
                    @Html.DisplayNameFor(model => model.First().SlideDateShowDisplay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SlideDateHideDisplay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SlideInputDateDisplay)
                </th>
                <th>
                    จัดการ
                </th>
            </tr>



            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SlideId)
                    </td> 

                    <td>
                        @Html.DisplayFor(modelItem => item.SlideDateShowDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SlideDateHideDisplay)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SlideInputDateDisplay)

                    </td>

                    <td>
                        @Html.ActionLink("แก้ไข", "Edit", new { id = item.SlideId }, new { @class = "btnDefault" })

 


                    </td>
                </tr>
            }

        </table>

        <!-- reload after delete by Ajax -->
        <script>

   function deleteComplete() {
            window.location.reload();
 }
        </script>

 
