﻿<style>
.userStatus {width : 200px ;height: 100px;  /*border:1px solid ;*/  position:relative; padding: 5px; }
.userStatus .title{ color:#fff ;text-align:right;  }
#inner-container  .userName  { text-align:right;    } 
#inner-container  .userName  a{   color:#ffd800  } 
#inner-container  .userStatus .userName a:hover { background-color:none; } 
.userStatus .btnLogOf  { text-align:right; padding:2px 8px; background-color:#370707;  border:1px solid #fff ;   position:absolute ; bottom:0px; right: 0px;}
 
#inner-container .btnLogOf {   text-decoration : none; color:#fff ; color:#ff6a00 ;}
#inner-container .btnLogOf:hover {    color:#ff6a00 ; background-color:#FF2900;} 
#inner-container .btnLogOf a{  color:#fff ;text-decoration : none; }

</style>

@if (Request.IsAuthenticated) { 
    
    <text>
        <div class="userStatus">

        <div class="title" >ผู้ใช้ขณะนี้คือ </div> 
        <div  class="userName">
             @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })    
        </div> 
         
      @* ///////// Default LogOf Button  From MVC4 *@ 
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
       
      <div class="btnLogOf" > 
      <a href="javascript:document.getElementById('logoutForm').submit()" >Log off</a> 
         </div>
        } 
          
            
        </div> <!-- ./userStatus  --> 
    </text> 
    
}else { // This case  user not Authenticated
    <ul> 
        @if (Request.IsAuthenticated) {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="btnDefault" })</li>


        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="btnDefault" })</li>
        } 
    </ul>

}


