﻿@*//=========== Bootstap Menu  ===========*@ 
 
 
<ul class="nav navbar-nav cst-navBackEnd">
<li class="active">@Html.ActionLink("Home", "Index", "AdminWeb")</li>
<li>@Html.ActionLink("UserManage", "index", "UserManage")</li>
<li>@Html.ActionLink("AdminManage", "index", "AdminManage")</li>
 
<li class="dropdown">
<a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" href="#">Client Section <b class="caret"></b></a>
<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
@* <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SampleLink</a></li>*@
<li>@Html.ActionLink("ClientRegister", "index", "ClientRegister" ,  null , null  )</li>
<li>@Html.ActionLink("ClientMessage-Email ", "index", "ClientMessage"  ,  new {  type=1}, null  )</li>
@*<li>@Html.ActionLink("ClientMessage-Tel ", "index", "ClientMessage" ,  new { type=2}, null  )</li>  *@
</ul> 
</li>


<li class="dropdown">
<a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown" href="#">Casino Link<b class="caret"></b></a>
<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2"> 
<li>@Html.ActionLink("SportOnline", "index", "WebLinkCasino" ,  new { type=1}, null  )</li>
<li>@Html.ActionLink("CasinoOnline", "index", "WebLinkCasino" , new { type=2}, null   )</li> 
</ul> 
</li>



<li class="dropdown">
<a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown" href="#">LiveScore Link<b class="caret"></b></a>
<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2"> 
<li>@Html.ActionLink("WatchFootballOnline", "index", "WebLinkLiveScore" ,  new { type=1}, null  )</li>
<li>@Html.ActionLink("CasinoOnline", "index", "WebLinkLiveScore" , new { type=2}, null   )</li> 
<li>@Html.ActionLink("OtherSportReport", "index", "WebLinkLiveScore" , new { type=3}, null   )</li>  
</ul>
</li>
    <li >@Html.ActionLink("BankWebLink", "Index", "BankWebLink")</li>

<li  >@Html.ActionLink("SlideManage", "Index", "SlideManage")</li>
<li >@Html.ActionLink("BrowsFile", "browsFile", "AdminWeb")</li>

</ul>

 
 


 