﻿
@{
    ViewBag.Title = "index";

    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";

}


<div class="row">
    <div class=" contentBgWhite center-block" style="float:none">

        <h2>index</h2>

    </div><!-- /.contentBgWhite -->
</div><!-- /.row -->
