﻿@using reCAPTCHA.MVC
@model MVC442.Models.ViewModel.ClientMessageVM
 
@{ 
   //  Layout = "~/Views/Shared/_Layout442FrontEnd3.cshtml"; 
    ViewBag.Title = "Contact";

    /////////// After Insert  Finish   
    if (ViewBag.Result == true ) {
        ViewBag.Result = false; // reset back to false
    <script  >
        alert("ทาง 442.im ได้รับข้อมูลของคุณเรียบร้อยแล้วครับ");
        location="HOME" ; 
    </script>
    }// end if 
}

<style>
 #page-Contact   input[type="text"] { width:270px;}
 #page-Contact   input[type="email"] { width:270px;} 
</style>
<script>
    $(function () {
        $("#captchaRefresh a").click(function () {
            //$("#CaptchaDeText").focus();
            //  $(":textbox").attr("style", "border:1px solid red; ");
            $("input[name='Name']").focus();
            console.log("allready Refresh");
        }); 
    }); //end ready

</script>


    <div class="col-xs-12   ">
        <div class="title-box">
            <div class="h1-bg3">
                <h3 class="title-th">ติดต่อ</h3>
                <h3 class="title-en">Contact</h3>
            </div>
        </div>
    </div>

 <div class=" contentBgRed ">

    <div class=" col-sm-4 hidden-xs">
        <img src="~/Content/Images/fontend/bg-title/info-bg3.png" class="img-thumbnail" />
    </div>

    <div class="col-xs-12 col-sm-8 ">
        <p>
            สำหรับสมาชิกที่มีปัญหาในการเล่น แทงบอลออนไลน์ หรือ บาคาร่าออนไลน์ หรือ ต้องการสอบถามวิธีการเล่นบอล จากทาง Sbobet Ibcbet  สามารถติดต่อผ่านช่องทาง
            ด้านล่างนี้ได้ตลอด 24 ชม.
        </p>


        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                @*<style>
                        .validation-summary-errors{
                            display: none;
                        }
                    </style>

                    <div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>*@

                @*
                    ////////  if Not use  @Html.EditorFor have to Cast object befor use
                    @Html.Hidden("IdCat" , (object)@ViewBag.IdCat)
                *@
                @Html.HiddenFor(model => model.IdCat)



                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tel1, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*//========= Start  Recaptcha  ========*@

                <div class="form-group">
                    @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.Recaptcha()
                        @Html.ValidationMessage("ReCaptcha")
                    </div>
                </div>
                @*//========= End  Recaptcha  ========*@

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="ยืนยัน" class="btn btn-default" style="margin-right:10px;" />
                        @Html.ActionLink("ยกเลิก", "Index", "Home", null, new { @class = "btn btn-default" })

                    </div>
                </div>


            </div><!-- //.form-horizontal -->



        }   @* End Html.BeginForm  *@

    </div>


</div><!--/.contentBgRed -->
