﻿@{
    ViewBag.Title = "Deposite"; 
 
}


<div class="   contentBgRed  ">
    <div class="col-xs-12   ">
        <div class="title-box">
            <div class="h1-bg4">
                <h3 class="title-th">ฝากเงิน-ถอนเงิน</h3>
                <h3 class="title-en">DEPOSIT-WITHDRAW </h3>
            </div>
        </div>
    </div>

     
    <div class="col-xs-4 col-sm-4 hidden-xs">  
        <img src="~/Content/Images/fontend/bg-title/info-bg1.png" class="img-thumbnail" />
    </div>
 
   
    <div class="col-xs-12  col-sm-8 ">
        <p>
            เพื่อความสะดวกของลูกค้าสามารถฝากถอนได้ตลอด 24 ชั่วโมง โดยไม่มีขั้นต่ำ
            ท่านสามารถขอรับเลขที่บัญชีจาก Call Center

            หลังจากนั้นทางเราจะจัดการทุกอย่างให้ท่านสามารถ  แทงบอลออนไลน์  คาสิโนออนไลน์ ได้โดยไม่มีเงื่อนไขใดๆ
        </p>

        <h3>กำหนดเวลาการทำการของธนาคาร</h3> 

        <div class="col-xs-6  col-sm-6   ">
            <div class="bankName1 pull-left"> <img src="~/Content/images/fontend/icon_bank/icon_bank_kasikorn.png" width="35" height="34"> </div>
            <div class="bankName2"><span class="bankName">ธ. กสิกรไทย </span><span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

        <div class="col-xs-6 col-sm-6  ">
            <div class="bankName1 pull-left"> <img src="~/Content/images/fontend/icon_bank/icon_bank_thaipanich.png" width="35" height="34"></div>
            <div class="bankName2">  <span class="bankName">ธ. ไทยพาณิชย์</span> <span class="bankService">ตลอด 24 ชม.</span>   </div>
        </div>

        <div class="col-xs-6 col-sm-6   ">
            <div class="bankName1 pull-left">  <img src="~/Content/images/fontend/icon_bank/icon_bank_tmb.png" width="35" height="34"></div>
            <div class="bankName2"><span class="bankName">ธ. ทหารไทย</span> <span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

        <div class="col-xs-6  col-sm-6   ">
            <div class="bankName1  pull-left"> <img src="~/Content/images/fontend/icon_bank/icon_bank_krungsri.png" width="35" height="34"></div>
            <div class="bankName2"><span class="bankName">ธ. กรุงศรีอยุธยา</span> <span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

        <div class="col-xs-6  col-sm-6   ">
            <div class="bankName1 pull-left">  <img src="~/Content/images/fontend/icon_bank/icon_bank_krungthai.png" width="35" height="34"></div>
            <div class="bankName2"><span class="bankName">ธ. กรุงไทย</span> <span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

        <div class="col-xs-6 col-sm-6   ">
            <div class="bankName1 pull-left">  <img src="~/Content/images/fontend/icon_bank/icon_bank_bangkok.png" width="35" height="34"></div>
            <div class="bankName2"><span class="bankName">ธ. กรุงเทพ</span> <span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

        <div class="col-xs-6 col-sm-6   ">
            <div class="bankName1 pull-left">  <img src="~/Content/images/fontend/icon_bank/icon_bank_tanachat.png" width="35" height="34"></div>
            <div class="bankName2"><span class="bankName">ธ. ธนชาติ</span> <span class="bankService">ตลอด 24 ชม.</span> </div>
        </div>

    </div>


        <div class="col-xs-12  col-sm-8 ">

            <h3>ขั้นตอนการฝากถอนเงิน แทงบอลออนไลน์ บาคาร่าออนไลน์ </h3>
            <ol>
                <li>
                    ในการฝากเงิน เล่น<a href="~"><strong>บอลออนไลน์</strong></a>หรือ <a href="~"><strong>คาสิโนออนไลน์</strong></a> ควรโอนพร้อมเศษ <br />เช่น 1,001 บาท
                    หรือ 2,000.9 บาท เพื่อความสะดวกในการปรับยอดของสมาชิก <br />(ปรับยอดตามจริง)
                </li>
                <li>หลังจากโอนเงินพนัน<strong>เล่นบอล</strong>  <strong>คาสิโนออนไลน์ </strong>แล้วควรโทรแจ้งภายใน 15 นาที เพื่อแสดงความเป็นเจ้าของ (ห้ามโทรก่อนโอนเด็ดขาด) </li>
                <li>
                    ควรเก็บหลักฐานการโอนเงิน <strong>แทงบอลผ่านเน็ต</strong>  <strong>บาคาร่าออนไลน์</strong>  ไว้จนกว่าจะมีการปรับยอดเงินเสร็จสมบูรณ์

                    (เราจะปรับยอดให้เร็วที่สุดเพื่อความต่อเนื่องของท่านสมาชิก)
                </li>
            </ol>

            <p class="textSmall">*หากมีข้อผิดพลาดใดๆในบัญชีของท่านโปรดแจ้งกับทางบริษัทให้เร็วที่สุด ภายใน 24 ชั่วโมง</p>
        </div>


 </div><!--/.contentBgRed -->