﻿@{
    ViewBag.Title = "โปรแกรม TeamViewer QuickSupport";
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
}


<div class="row  cstNoPadding">
    <div class="col-xs-12   ">
        <div class="title-box">
            <div class="h1-bg3">
                <h3 class="title-th">ดาวโหลดโปรแกรม</h3>
                <h3 class="title-en">Download Program</h3>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row contentBgWhite   ">

    <h1>โปรแกรม TeamViewer QuickSupport</h1>
 

 

            <h3>วิธีติดตั้งและใช้งานโปรแกรม TeamViewer QuickSupport</h3>
            1. ให้ท่านดาวน์โหลดโปรแกรม TeamViewer QuickSupport จากเวบ www.teamviewer.com  ให้ตรงกับระบบปฏิบัติการที่ท่านใช้  <br>
         
       
            <a style="color:red;" href="/download/TeamViewerQS_th.zip">สำหรับ windows คลิ๊กที่นี่  </a>
            หรือ
            <a style="color:red;" href="http://www.teamviewer.com/th/download/mobile-app.aspx">สำหรับ มือถือ คลิ๊กที่นี่  </a>  
            <br>
            <br>

            2. หลังจากดาวโหลดเสร็จ คลิ๊กไอคอนโปรแกรมTeamViewer.exe  เพื่อติดตั้ง <br>
            <img src="~/Content/Images/fontend/manual-user/teamview_1.jpg"  class="img-responsive"  ><br><br>
            3.  ใน windows 7  และ 8  จะถามการอนุญาติในการติดตั้งโปรแกรมก่อน <br>
            <br>
            <img src="~/Content/Images/fontend/manual-user/teamview_2.jpg" class="img-responsive" ><br><br>
            4.  หน้าจอโปรแกรม TeamViewer จะเปิดขึ้นมา พร้อมแสดงรหัส Your ID และ Password <br>
            นำรหัสนี้บอกทีมงาน Support   ทางทีมงานสามารถเข้าไปแก้ไขปัญหาผ่านโปรแกรม  TeamViewer ให้ท่านได้<br>
            <img src="~/Content/Images/fontend/manual-user/teamview_3.jpg"  class="img-responsive"  ><br><br>

 

</div>
<!-- /.row -->