﻿@{
    ViewBag.Title = "โปรแกรม Tor Browser Bundle";
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
}

<div class="row  cstNoPadding">
    <div class="col-xs-12   ">
        <div class="title-box">
            <div class="h1-bg3">
                <h3 class="title-th">ดาวโหลดโปรแกรม</h3>
                <h3 class="title-en">Download Program</h3>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="  contentBgWhite   ">

    <h1>โปรแกรม Tor Browser </h1>

  

            <h3>วิธีติดตั้ง Tor Browser Bundle เพื่อใช้เข้าเว็บไซต์ที่ถูกบล็อค</h3>
            <p>เราสามารถใช้  “Tor Browser Bundle” เข้าเว็บไซต์  แทนเบราว์เซอร์เดิมของเราได้เลย โดยทำดังนี้</p> 

            <p> 1. ให้ท่านเข้าไปที่เว็บไซต์ <a href="https://www.torproject.org/" target="_blank">https://www.torproject.org/</a>   และดาวน์โหลด Tor Browser Bundle ให้ตรงกับระบบปฏิบัติการที่ท่านใช้  
            <img src="~/Content/Images/fontend/manual-user/TorBrowser1.jpg" class="img-responsive"> 
            <a style="color:red;" href="/download/torbrowser-install.zip">สำหรับ windows คลิ๊กที่นี่  </a></p>


            <p>
                2. เปิดไฟล์ขึ้นมาเพื่อทำการติดตั้ง
                <img src="~/Content/Images/fontend/manual-user/TorBrowser2.jpg" class="img-responsive">
            </p>

            <p>
                3. จะขึ้นป๊อบอัพ Security Warning ให้ท่านกด Run เพื่ออนุญาติรันโปรแกรม
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_3.jpg" class="img-responsive">
            </p>

            <p>
                4. จะขึ้นป๊อบอัพ Install Language ให้ท่านเลือกภาษาที่ต้องการ  
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_4.jpg" class="img-responsive">
            </p>
            <p>
                5. เลือกที่ๆจะติดตั้งโปรแกรม (ท่านสามารถก๊อปปี้โฟลเดอร์นี้ไปใส่ใน Flash Drive เพื่อเป็นเวอร์ชั่น Portable เพื่อนำใช้ที่ไหนก็ได้)
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_5.jpg" class="img-responsive">
            <p>
                6. จะเริ่มทำการแตกไฟล์ที่หน้า Destop ในโฟลเดอร์ Tor Browser
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_6.jpg" class="img-responsive">
            </p>

            <p>
                7. หน้านี้จะแสดงเมื่อติดตั้งเสร็จ ให้ท่านกด Finish จะเป็นการเปิดโปรแกรม Tor Browser ให้ทำงาน  
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_7.jpg" class="img-responsive">  
            </p>

            <p>
                8.  จะมีหน้าต่างแสดง Tor Network Setting แสดงให้ท่านกดปุ่ม Connect
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_8.jpg" class="img-responsive">
            </p>

            <p>
                9.  จะแสดงแถบ Tor Status วึ่งกำลัง Connect
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_9.jpg" class="img-responsive">
            </p>

            <p>
                10. หลังเชื่อมต่อเสร็จแล้ว เบราว์เซอร์ “TorBrowser” จะเปิดขึ้นพร้อมปรากฏข้อความ
                " Congratulations!  This browser is configured to use Tor. "
                แสดงว่าพร้อมสำหรับการใช้งานท่องเว็บแทนการใช้เบราว์เซอร์อื่นๆ  เช่น  Internet Explorer, Mozilla Firefox หรือ Google Chrome  
                <img src="~/Content/Images/fontend/manual-user/TorBrowser_10.jpg" class="img-responsive">
            </p>

             
                <h3>วิธีเปิดใช้งาน Flash Player บน Tor Browser</h3>
            <p>
                1.   เข้าเมนู Tor Browser เลือก Add On
                <img src="~/Content/Images/fontend/manual-user/Flash_Set_TorBrowser_1.jpg" class="img-responsive">
            </p>

            <p> 2.  เลือกแถบ Plugins <img src="~/Content/Images/fontend/manual-user/Flash_Set_TorBrowser_2.jpg" class="img-responsive"> </p>
            <p>
                3.  เลือกเปลี่ยนเป็นจาก Naver Activate  ไปเป็น Always Activate
                <img src="~/Content/Images/fontend/manual-user/Flash_Set_TorBrowser_3.jpg" class="img-responsive">
            </p>
            <p>
                4. จะขึ้นป๊อบอัพมา ให้ติ๊กถูกที่ Naver Ask Me Again แล้วกด Yes จากนั้นเวบที่มีเนื้อหาเป็น Flash จะแสดงเป็นปรกติ
                <img src="~/Content/Images/fontend/manual-user/Flash_Set_TorBrowser_4.jpg" class="img-responsive">
            </p>


            <h3>คำเตือนการใช้งาน Tor Browser </h3> 
                <ol>
                    <li> การใช้ Tor คือ ทำให้การรับส่งข้อมูลช้ากว่าปกติ ซึ่งอาจลำบากหากต้องรับส่งไฟล์ขนาดใหญ่</li>
                    <li>กรณีใช้  Tor เข้าใช้งาน  Facebook  อาจทำให้  Facebook  สับสนนึกว่าบัญชีคุณโดนแฮ็ก เพราะ Tor ได้เปลี่ยนหมายเลข IP ทุกครั้งที่ใช้งาน</li>
                    <li>ความเสี่ยงออนไลน์จำนวนมาก เกิดจากพฤติกรรมของผู้ใช้งานเอง ซึ่งไม่มีเทคโนโลยีใดช่วยได้</li>
                    <li>Tor ปกปิดตัวตนของจุดตั้งต้นและเข้ารหัสทุกอย่างภายใต้เครือข่ายของ Tor เอง แต่ไม่ได้เข้ารหัสระหว่างเครือข่าย Tor กับเว็บปลายทาง </li>

                </ol>
     
 
</div><!--/.contentBgWhite-->