﻿@{
    ViewBag.Title = "download";
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
}


 

    <div class="col-xs-12   " style="padding: 0px;">
        <div class="title-box">
            <div class="h1-bg3">
                <h3 class="title-th">ดาวโหลดโปรแกรม</h3>
                <h3 class="title-en">Download Program</h3>
            </div>
        </div>
    </div>





<div class=" contentBgWhite " style="min-height:700px;">
    <div class=" col-sm-4">
        <a href="@Url.Action("DownloadProgram1")" target="_blank">  <img src="~/Content/images/fontend/icon-download-program/logo-Teamviewer.png" class="img-thumbnail"> </a>
    </div>

    <div class="col-xs-12 col-sm-8 pull-left">
        <h2> โปรแกรม Teamviewer </h2>
        <p>
            เป็นโปรแกรมประเภท รีโมทควบคุมเครื่องคอมพิวเตอร์จากระยะไกล
            เพื่อเชื่อมต่อการทำงานระหว่างเครื่อง PC สองเครื่องที่อยู่ต่างสถานที่กัน
        </p>
    </div>

    <div class=" col-sm-4">
        <a href="@Url.Action("DownloadProgram2")" target="_blank">
            <img src="~/Content/images/fontend/icon-download-program/logo-Tor.jpg" class="img-thumbnail">
        </a>
    </div>

    <div class="col-xs-12    col-sm-8  pull-left">
        <h2>  โปรแกรม Tor Browser </h2>

        <p>
            เป็น Browser ที่สามารถใช้เข้าเวบที่ถูก  ICT Block ได้ โดยดัดแปลงมาจาก Firefox แต่เชื่อมต่อกับเครือข่าย Tor (The Onion Router)
            ทำให้เราสามารถเข้าเวปต่างๆแบบไร้ตัวตนได้ (เหมือนการเปิดดูเวบผ่าน Proxy )
        </p>
    </div>

</div>
        <!-- /.cstNoPadding -->

 
