﻿@using MVC442.Helper.UT
@model IEnumerable<MVC442.Models.CasinoCat>

@{ 
    ViewBag.Title = "Home Page";
    
}


@section Scripts2{
    <script>
        ///// Include FloatBanner only on Page HOME ////////
        $(function () {
            //\\\\\ dialog float \\\\\\
            //DialogBasic(true, false, "#dialogBannerFloat", null, 300, 470, "left top+200", "left center", "#bxslider1"); 
            //$("#dialogBannerFloat .bx-wrapper").attr("style", "float:left;width:250px;"); //Dialog Custom config  

            //\\\\\ dialog Promotion \\\\\\
           // DialogBasic(true, true, "#dialogPromotion", null , 500, 420, "center", "center"); 
           
           

        }); // End Ready
    </script>

            @*
            //\\\\\ dialogPromotion \\\\\\
            @Html.Partial("_DialogPromotion3Partial")
            *@
      
    @if ( Utillity.IsMobileDevice() != true ) {  // hide float banner on Mobile 
      //  @Html.Partial("FontEnd/_DialogBannerFloatPartial")  //  Banner Gif
    }
     
}
      

        <div class="title-box">
            <div class="h1-bg1">
                <h3 class="title-th">ฟุตบอล และกีฬา ออนไลน์ </h3>
                <h3 class="title-en">SPORT ONLINE</h3>
            </div>
        </div>
      
 
           
                @if (Utillity.IsMobileDevice() == true) {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 1, mobile = true })  // type 1 = sportOnline
                    } else {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 1, mobile = true }) //  type 1 = sportOnline
                 
                    }
            
   
        <div class="title-box ">
            <div class="h1-bg2">
                <h3 class="title-th">คาร์สิโน ออนไลน์</h3>
                <h3 class="title-en">CASINO ONLINE</h3>
            </div>
        </div>
     
                @if (Utillity.IsMobileDevice() == true) { 
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 2, mobile = true })  //  type 2 = casinoOnline
                } else { 
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 2, mobile = false })  //  type 2 = casinoOnline
               }
           


 
