﻿@{
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml"; 
    ViewBag.Title = "MatchFootball";
    
    
}
<style>
 
#iframeMask2 {
position: relative; 
overflow: hidden;
/*overflow-x: hidden;*/ 
height: 930px;
margin-bottom: 30px; 
border: 1px solid blue;
position: relative; 
}


iframe { 
border: 1px solid red;
}
</style>
    <div class="title-box">
        <div class="h1-bg5">
            <h3 class="title-th">ตารางแข่ง</h3>
            <h3 class="title-en">MATCH FOOTBALL</h3>
        </div>
    </div>
 
<div class="  contentBgWhite  col-xs-12">
    <div id="iframeMask2" class=" col-xs-11 center-block">
        <div class=" col-xs-12 " style="height:2000px; position:absolute; border: 1px solid green;">
            <iframe class="col-xs-12 col-md-12 col-sm-12" src="http://football.kapook.com/program.php" height="2200" style="top:-550px;  "></iframe>
        </div>
    </div>
 
</div><!-- /.contentBgWhite  -->


