﻿@{
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
    ViewBag.Title = "MatchFootball";
    
    
}




<div class="title-box"   >
<div class="h1-bg5">
<h3 class="title-th">ตารางแข่ง</h3>
<h3 class="title-en">MATCH FOOTBALL</h3>
</div> 
</div>
  
 





<div  id="areaContent"  >

    <script>
        $(function () {
            var iframeContent = $("#iframeMask iframe");
            var strUrl = "http://thaipremierleague.co.th/2015/tpl2015_Fixtures.php?ym=";
           
            //\\\\ get iframe URL  befor Click
            var dateToday= new Date();
            var mounthToday = (dateToday.getMonth() + 1); // get this mounth &  + 1 for index start 0  
            iframeContent.attr("src", strUrl + "2015-0" + mounthToday);

            //\\\\ get iframe URL after click button
            $("#scoreLeageMenu li").click(function () {

                var index = $(this).index() + 1; //  + 1 for index start 0  
                console.log(index);

                //iframeContent.attr("src", "");
                iframeContent.attr("src", strUrl + "2015-0" + index);

            })
        });

    </script>

    <style>
        #scoreLeageMenu {
            padding-top: 10px;
        }

            #scoreLeageMenu ul {
                margin-left: 50px;
                height: 30px;
            }

                #scoreLeageMenu ul li {
                    color: #000;
                    float: left;
                    margin-left: 10px;
                    background-color: #f4cc52;
                    padding: 4px 10px;
                }

                    #scoreLeageMenu ul li:hover {
                        background-color: #F0D582;
                    }

        .tableDescript {
            margin-left: 70px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            .tableDescript .abb {
                font-weight: bold;
                color: #F60;
            }
    </style>

    <div id="scoreLeageMenu">
        <ul>
            <li>ม.ค.</li>
            <li>ก.พ.</li>
            <li>มี.ค.</li>
            <li>เม.ย.</li>
            <li>พ.ค.</li>
            <li>มิ.ย.</li>
            <li>ก.ค.</li>
            <li>ส.ค.</li>
            <li>ก.ย.</li>
            <li>ต.ค.</li> 
            <li>พ.ย.</li> 
            <li>ธ.ค.</li> 
        </ul>
    </div>

    <style>
        #areaContent {
            background-color: #FFF;
            padding-left: 0px;
            width: 100%;
            padding-bottom: 30px;
            min-height: 1020px;
            padding-bottom: 30px;
        }

            #areaContent .cradit {
                color: #000;
                text-indent: 30px;
            }

        #iframeMask {
            position: relative;
            overflow: scroll;
            overflow-x: hidden;
             width: 650px;  
            height: 930px;
            margin-bottom: 30px;
            top: 20px;
            margin-left: 30px;
        }

        #iframeContent {
            position: absolute;
            top: -220px;
            /*left: -250px;*/
            width: 650px;
            height: 2500px;
        }
    </style>
<div id="iframeMask">
<!--
<iframe src='http://data2.7m.cn/fixture_data/default_th.shtml?date=1'   id="iframeContent"  scrolling="Yes"  frameborder="0" ></iframe>
--> 
    <iframe id="iframeContent" scrolling="no" frameborder="0"></iframe>
   
</div>  
<div class="cradit">ขอบคุณข้อมูลจาก www.thaipremierleague.co.th </div>

</div><!-- areaContent -->




