﻿@{
    Layout = "~/Views/Shared/_Layout442FrontEnd3.cshtml"; 
    ViewBag.Title = "OnlineFootball";
}

<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">ดูบอลออนไลน์</h3>
        <h3 class="title-en">ONLINE FOOTBALL</h3>
    </div>
</div>

 
<div id="areaContent">  
    <style>
        #areaContent {
            background-color: #FFF;
            /*padding-left: 0px;
                width: 100%;
               */
            min-height: 600px;
        padding: 30px;
        padding-top:10px;
         padding-bottom: 30px;
        }

            #areaContent .cradit {
                color: #000;
                text-indent: 30px;
            }

        #iframeMask {
         position: relative;
    height: 830px;
    top: 20px;
    margin-bottom: 30px;
    /* border: 1px solid #F00; */
    overflow: scroll;
    width: 660px;
    margin: 0px auto;
        }

        #iframeContent {
       position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 650px;
    height: 10000px;
    /*border: 1px solid #00F;*/
  top: -265PX;
        }
    </style>

    <div id="iframeMask">
        <iframe src='http://www.livesoccertv.com/' id="iframeContent" scrolling="no" frameborder="0"></iframe>

    </div>


</div><!-- areaContent -->
