﻿@{
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
    ViewBag.Title = "MatchFootball";


}
<style>
    #iframeMask2 {
        position: relative;
        overflow: hidden;
        /*overflow-x: hidden;*/
        height: 930px;
        margin-bottom: 30px;
        border: 1px solid blue;
    }

    #iframeMask1 {
        height: 2000px;
        position: absolute;
        border: 1px solid red;
    }

    #iframe {
        top: -590px;
        height: 2200px;
        border: 1px solid green;
    }
</style>
<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">ตารางแข่ง</h3>
        <h3 class="title-en">MATCH FOOTBALL</h3>
    </div>
</div>

<div class=" contentBgWhite col-xs-12" style=" padding-top 10px;">
    <div id="iframeMask2" class=" col-xs-11 center-block">
        <div id="iframeMask1" class=" col-xs-12 ">
            <iframe id="iframe" class="col-xs-12 col-md-12 col-sm-12" src="http://football.kapook.com/result.php"  frameborder="0" ></iframe>
        </div>
    </div>

</div><!-- /.contentBgWhite  -->
 