﻿@{
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
    ViewBag.Title = "TableScore";
}

<script>
    $(function () {

    // Optimalisation: Store the references outside the event handler:
    var $window = $(window);
    var $elm = $('.scoreLeageMenu li');

    function checkWidth() {
        var windowsize = $window.width();
            if (windowsize < 479) {   //if the window less than 479px
                $elm.removeClass("col-xs-2");
                $elm.addClass("col-xs-4"); // set 2 column sloteCasino

            }else{
                $elm.removeClass("col-xs-4");
                $elm.addClass("col-xs-2");// set 3 column sloteCasino

            }
        }

    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);
});
</script>


<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">คะแนนลีก</h3>
        <h3 class="title-en">SCORE LEAGE</h3>
    </div>
</div>

<div class="row contentBgRed">

    <script>
        $(function () {
            var iframeContent = $("#iframeMask iframe");
            var scoreLeageLinks =
                    ['http://www.goal.com/th/tables/%E0%B8%9E%E0%B8%A3%E0%B8%B5%E0%B9%80%E0%B8%A1%E0%B8%B5%E0%B8%A2%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%B5%E0%B8%81/8',
                    'http://www.goal.com/th/tables/%E0%B8%A5%E0%B8%B2%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/7',
                    'http://www.goal.com/th/tables/thai-premier-league/519?ICID=HP_TN_4_4',
                    'http://www.goal.com/th/tables/%E0%B8%9A%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%94%E0%B8%AA%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/9',
                    'http://www.goal.com/th/tables/%E0%B9%80%E0%B8%8B%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2-%E0%B8%AD%E0%B8%B2/13',
                    'http://www.goal.com/th/tables/%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B9%80%E0%B8%AD%E0%B8%B4%E0%B8%87/16'
                    ];

            iframeContent.attr("src", scoreLeageLinks[0]);

            $(".scoreLeageMenu li").click(function () {
                var index = $(this).index();
                //console.log(index);
                iframeContent.attr("src", "");
                iframeContent.attr("src", scoreLeageLinks[index]);
            })
        });
    </script>

    <style>
       .scoreLeageMenu {
            padding-top: 10px;
            font-family: 'DBHelvethaiCamon';
            font-size: 1.8em;
        background-color: #fff;
        text-align:center ;
        }
   
        #iframeMask {
  OVERFLOW: HIDDEN;  
    POSITION: relative;
    width: 100%;
    height: 880PX;
    /*background-color: yellow;
    border: 5px solid red;*/
        }

        .iframeContent {
 height: 100%;
    position: absolute;
    TOP:  -230PX;
    LEFT: 0PX;
        }
    </style>

    <div class="row scoreLeageMenu cstNoPadding" >

        <ul>
            <li  >พรีเมียร์ลีก</li>
            <li >ลาลีกา</li>
            <li   >ไทยพรีเมียร์ลีก</li>
            @*<div class="clearfix  visible-xs" ></div>*@
            <li   >บุนเดสลีกา</li>
            <li >เซเรียอา</li>
            <li  >ลีกเอิง</li>
        </ul>
    </div> 
 
 
    <div class="row">
        <div id="iframeMask" class="col-xs-12">
            <iframe src="" class="iframeContent" scrolling="no" frameborder="0" width="100%" height="500"></iframe>
        </div>
    </div>
    <!-- end   id="iframeMask"---->




</div><!-- areaContent -->

<br />
<br />
