﻿@model IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM>

@{
    ViewBag.Title = "CasinoOnline";
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
    // var IdCat = Request.QueryString["IdCat"]; // Issuse wit Route

    var IdCat = ViewData["IdCat"];
    var typeCon = ViewBag.type;
}  

<div id="pageSportOnline"> 
<h2>SportOnline</h2> 
  


<div  class="slotBox"  > 
              <object id="slotCasino1" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="157" height="99">
                        <param name="movie" value="~/content/swf/slotLogo/slotFlash@(@IdCat).swf">
                        <param name="quality" value="high">
                        <param name="wmode" value="transparent">
                        <param name="swfversion" value="9.0.45.0">
                        <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
                        <param name="expressinstall" value="Scripts/expressInstall.swf">
                        <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
                        <!--[if !IE]>-->
                        <object type="application/x-shockwave-flash" data="~/content/swf/slotLogo/slotFlash@(@IdCat).swf" width="157" height="99">
                            <!--<![endif]-->
                            <param name="quality" value="high">
                            <param name="wmode" value="transparent">
                            <param name="swfversion" value="9.0.45.0">
                            <param name="expressinstall" value="Scripts/seo-bet.swf">
                            <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
                            <div>
                                <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
                                <p>
                                    <a href="http://www.adobe.com/go/getflashplayer">
                                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a>
                                </p>
                            </div>
                            <!--[if !IE]>-->
                        </object>
                        <!--<![endif]-->
                    </object> 
        </div><!-- /.slotBox -->  
 

 <ul>  
      
 @{ int counter = 0; 
     foreach (var item in Model) {
        counter++; 
         <text>
         <li style="margin-bottom:5px;">
           @*
            @Html.DisplayFor( x => item.IdCon  /
            @Html.DisplayFor( x => item.No )
            *@  
               ลิงค์ช่องทางใช้งานที่  @counter : &nbsp;&nbsp; 
                <a href="@Html.DisplayFor( x => item.WebLink)" target="_blank"> @Html.DisplayFor( x => item.WebName) </a>   
                    <ul style=" padding-left:145px; ">
                    <li style="color:#e3eb67">
                    @Html.DisplayFor( x => item.Description)
                    </li>
                    </ul> 
            </li>
        </text>
       } // end foreach
 }

  </ul> 

 

 </div><!-- /#pageSportOnline -->