﻿@{
    Layout = "~/Views/Shared/_Layout442FrontEnd2.cshtml";
    ViewBag.Title = "TableScore";
}

<script>
        $(function () {
            var iframeContent = $("#iframeMask iframe");
            var scoreLeageLinks =
                    ['http://www.goal.com/th/tables/%E0%B8%9E%E0%B8%A3%E0%B8%B5%E0%B9%80%E0%B8%A1%E0%B8%B5%E0%B8%A2%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%B5%E0%B8%81/8',
                    'http://www.goal.com/th/tables/%E0%B9%81%E0%B8%8A%E0%B8%A1%E0%B9%80%E0%B8%9B%E0%B8%B5%E0%B9%89%E0%B8%A2%E0%B8%99%E0%B8%8A%E0%B8%B4%E0%B8%9E/70?ICID=CL',
                    'http://www.goal.com/th/tables/%E0%B8%A5%E0%B8%B2%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/7',

                    'http://www.goal.com/th/tables/%E0%B8%9A%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%94%E0%B8%AA%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/9',
                    'http://www.goal.com/th/tables/%E0%B9%80%E0%B8%8B%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2-%E0%B8%AD%E0%B8%B2/13',
                    'http://www.goal.com/th/tables/%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B9%80%E0%B8%AD%E0%B8%B4%E0%B8%87/16',
                    'http://www.goal.com/th/tables/%E0%B9%80%E0%B8%AD%E0%B9%80%E0%B8%A3%E0%B8%AD%E0%B8%94%E0%B8%B5%E0%B8%A7%E0%B8%B5%E0%B8%8B%E0%B8%B5/1?ICID=CL',
                    'http://www.goal.com/th/tables/thai-premier-league/519?ICID=HP_TN_4_4',
					'http://www.goal.com/th/tables/uefa-champions-league/10',
					'http://www.goal.com/th/tables/uefa-europa-league/18'
                    ];

            iframeContent.attr("src", scoreLeageLinks[0]);

            $("#scoreLeageMenu li").first().addClass("active"); //Add active to first li
            $("#scoreLeageMenu li").click(function () {
                var index = $(this).index();
                //console.log(index);
                var index = $(this).index();
                $("#scoreLeageMenu li").removeClass("active"); // remove class active befor add
                $(this).addClass("active");//Add class active

                iframeContent.attr("src", "");
                iframeContent.attr("src", scoreLeageLinks[index]);
            })
        });
</script>

<style>
#scoreLeageMenu {
padding-top: 10px;
font-family: 'DBHelvethaiCamon';
font-size: 22px;
height: 55px;
}

#scoreLeageMenu ul {
height: 30px;
text-align: CENTER;
}

#scoreLeageMenu ul li {
color: #fff;
background-color: #F92507;
padding: 0px 7px;
display: inline;
font-size: 2.2rem;
}

#scoreLeageMenu ul li:hover {
background-color: #BBB;
}

#scoreLeageMenu ul li.active {
background-color: #FF962F;
}

.tableDescript {
margin-left: 70px;
margin-top: 20px;
margin-bottom: 20px;
}

.tableDescript .abb {
font-weight: bold;
color: #F60;
}
</style>


<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">ตารางคะแนนลีก</h3>
        <h3 class="title-en">SCORE LEAGE</h3>
    </div>
</div>

<div class=" contentBgWhite col-xs-12" style=" padding-top 10px;">  

    <div id="scoreLeageMenu">
        <ul>
            <li>พรีเมียร์ลีก</li>
            <li>แชมเปี้ยนชิพ</li>
            <li>ลาลีกา</li>
            <li>บุนเดสลีกา</li>
            <li>เซเรียอา</li>
            <li>ลีกเอิง</li>
            <li>พรีเมียร์ดัช</li>
            <li>ไทยพรีเมียร์ลีก</li>
            </br>
            <li>ยูฟ่า แชมเปี้ยน ลีค</li>
            <li>ยูฟ่า ยูโรป้า ลีค</li>
        </ul>
    </div>

    <style>
        #iframeMask2 {
            position: relative;
            overflow: hidden;
            /*overflow-x: hidden;*/
            height: 930px;
            margin-bottom: 30px;
            /*border: 1px solid blue;*/
        }

        #iframeMask1 {
            height: 2000px;
            position: absolute;
            /*border: 1px solid red;*/
        }

        #iframe {
            top: -590px;
            height: 2200px;
            /*border: 1px solid green;*/
        }
    </style>

    @*<div class="tableDescript">
            <span class="abb">P</span> แข่ง  / <span class="abb">W</span> ชนะ / <span class="abb">D </span>เสมอ / <span class="abb">L </span>แพ้
        <span class="abb">GF</span> ได้ประตู  / <span class="abb">GA </span>เสียประตู / <span class="abb">GD </span>รวมประตูได้เสีย / <span class="abb">Pts </span>คะแนนรวม
        </div>*@
  
    <div id="iframeMask2" class=" col-xs-11 center-block">
        <div id="iframeMask1" class=" col-xs-12 "> 
            <iframe id="iframe" class="col-xs-12 col-md-12 col-sm-12"   src=""   frameborder="0"></iframe>
        </div>
    </div>

</div><!-- /.contentBgWhite  -->

