﻿@{
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
    ViewBag.Title = "MatchFootball";
    
    
}

<div class="title-box"   >
<div class="h1-bg5">
<h3 class="title-th">ตารางแข่ง</h3>
<h3 class="title-en">MATCH FOOTBALL</h3>
</div> 
</div>
  
 
<style>  
#areaContent {background-color: #FFF; padding-left: 0px; width: 100%; padding-bottom: 30px; min-height:1020px; padding-bottom: 30px;  }
#areaContent  .cradit {  color:#000;  text-indent:30px;}
#iframeMask {  position: relative; overflow : scroll ;  overflow-x: hidden;  width : 740px; height : 930px; margin-bottom:30px;
 top: 20px;   }
#iframeContent { position: absolute;   top : -1250px; left :  0px;   width: 780px; height: 5000px;   } 
</style>

<div  id="areaContent"  >
<div id="iframeMask">
 
<iframe src='http://data.7m.cn/matches_data/141/th/index.shtml'   id="iframeContent"  scrolling="no"  frameborder="0" ></iframe>
   
</div>  
<div class="cradit">ขอบคุณข้อมูลจาก http://data.7m.cn/ </div>

</div><!-- areaContent -->




