﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 

        <video width="320" height="240" controls>
            <source src="http://www.youtube.com/embed/2ElxeOmqWnk" type="video/mp4"> 
            Your browser does not support the video tag.
        </video>



    </div>
</body>
</html>
