﻿@model MVC442.Models.ViewModel.SlideManageVM

@{

    Layout = "~/Views/TestDateTimePickerBootstap3Eonasdan/_LayoutDateTimePickerBootstap3Eonasdan.cshtml";
}
 
 

<body style="position:relative;">
    <!-- ////// Add For Bootstap-DateTimePicker  -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        

        <br /><br />
        @Html.DisplayNameFor(model => model.SlideId)

        @Html.DisplayFor(model => model.SlideId)



        <h5> ######## Get  DateTime Format  By ViewModel  ############# </h5>
        @* //Make Override Global  DateTimeFormat  by TextBoxFor   *@
        @*@Html.TextBoxFor(model => model.SlideInputDate, ((DateTime)Model.SlideInputDate).ToString("MM/dd/yyyy HH:mm") )*@
        @* //Make Override Global  DateTimeFormat  by  EditorTemplate  *@
           @Html.EditorFor(model => model.SlideInputDate, null,
       new {
           htmlAttributes = new {
               @class = "DateTimePicker1",  
               @placeholder = "Please Select DateTime"
           }
       }
       )


        <hr />

        <h5> ######## Get  DateTime Format  By templateName  ############# </h5>
        @* //Make Override Global  DateTimeFormat  by  TextBoxFor  *@
        @*@Html.TextBoxFor(model => model.SlideDateShow, ((DateTime)Model.SlideDateShow).ToString("MM/dd/yyyy HH:mm") )*@
        @* //Make Override Global  DateTimeFormat  by  EditorTemplate  *@
         @Html.EditorFor(model => model.SlideDateShow,
        "DateTimeCustom1",  // Carefull  when use  EditorTemplate    will   make formatDattime   Conflict  on  DateTimePicker
       new {
           htmlAttributes = new {
               @class = "DateTimePicker1",
               @placeholder = "Please Select DateTime"
           }
       }
       )

        <hr />

        <h5> ######## Get  DateTime Format   By templateName & Add  HtmlAttributes   ############# </h5>
        @* //Make Override Global  DateTimeFormat  by  TextBoxFor  *@
        @*@Html.TextBoxFor(model => model.SlideDateHide, ((DateTime)Model.SlideDateHide).ToString("MM/dd/yyyy HH:mm") )*@
         @* //Make Override Global  DateTimeFormat  by  EditorTemplate  *@
        @Html.EditorFor(model => model.SlideDateHide,
       "DateTimeCustom2",  // Carefull  when use  EditorTemplate    will   make formatDattime   Conflict  on  DateTimePicker
new {
    htmlAttributes = new {
        @class = "DateTimePicker1",   
      @style = "border: 3px solid",
        @placeholder = "Please Select DateTime"
    }
}
)

        <br />
        <br />
 



        <input type="submit" value="Save" class="btn btn-default" /> 
    }


</body>


