﻿@model  IEnumerable<MVC442.Models.ViewModel.SlideManageVM>
@{

    Layout = "~/Views/TestDateTimePickerBootstap3Eonasdan/_LayoutDateTimePickerBootstap3Eonasdan.cshtml";

}
 
<style>
    .dataList td:nth-child(1) {
        width: 3%;
    }



    .dataList td:nth-child(2) {
        width: 10%;
    }

    .dataList td:nth-child(3) {
        width: 10%;
    }

    .dataList td:nth-child(4) {
        width: 10%;
    }
</style>




@Html.ActionLink( "Create"   ,   "Create")

<table class=" dataList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SlideId)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.SlideDateShowDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideDateHideDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideInputDateDisplay)
        </th>
        <th>
            จัดการ
        </th>
    </tr>


    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlideId)
            </td>
 

            <td>
                @Html.DisplayFor(modelItem => item.SlideDateShowDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlideDateHideDisplay)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SlideInputDateDisplay)

            </td>

            <td>
                @Html.ActionLink("แก้ไข", "Edit", new { id = item.SlideId }, new { @class = "btnDefault" })

       


            </td>



        </tr>
    }

</table>



<!-- reload after delete by Ajax -->
<script>

   function deleteComplete() {
            window.location.reload();
 }
</script>