﻿@model MVC442.Models.ViewModel.SlideManageVM

@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";
    ViewBag.Title = "Create";
}


<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>
<!-- ==================   CKFinder Config    -->
<script>
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
        finder.selectActionFunction = SetFileField;
        finder.popup();

        ///========   It can also be done in a single line, calling the "static"
        // popup( basePath, width, height, selectFunction ) function:
        // CKFinder.popup( '../', null, null, SetFileField ) ;

        ///========  The "popup" function can also accept an object as the only argument.
        // CKFinder.popup( { basePath : '../', selectActionFunction : SetFileField } ) ;
    }

    function SetFileField(fileUrl) {
        document.getElementById('xFilePath').value = fileUrl;
    }
</script>



<div class="row">
    <div class=" contentBgWhite ">
        <h2>Create</h2>

        @using (Html.BeginForm()) {
            <div class="form-horizontal">

                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.SlideName,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @*
                            <input id="xFilePath" name="FilePath" type="text" size="60" />
                            <input type="button" value="Browse Server" onclick="BrowseServer();" />
                        *@
                        @Html.EditorFor(model => model.SlideName,
           new {
               htmlAttributes = new { @class = "form-control", @id = "xFilePath", onclick = "BrowseServer();" }
           })
                        @Html.ValidationMessageFor(model => model.SlideName, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.SlideLink,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @Html.EditorFor(model => model.SlideLink,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                        @Html.ValidationMessageFor(model => model.SlideLink, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SlideDes,
           htmlAttributes: new { @class = "control-label col-sm-3 col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @Html.EditorFor(model => model.SlideDes,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                        @Html.ValidationMessageFor(model => model.SlideDes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SlideStatus,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        <label>@Html.RadioButton("SlideStatus", "0") Hide</label>
                        <label>@Html.RadioButton("SlideStatus", "1", true) Show</label>

                        @Html.ValidationMessageFor(model => model.SlideStatus)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.SlideSort,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @Html.EditorFor(model => model.SlideSort,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                        @Html.ValidationMessageFor(model => model.SlideSort, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SlideDateShow,
           htmlAttributes: new { @class = "control-label col-sm-3 col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @Html.EditorFor(model => model.SlideDateShow,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                        @Html.ValidationMessageFor(model => model.SlideDateShow, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.SlideDateHide,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                    <div class="col-sm-4 col-xs-12 ">
                        @Html.EditorFor(model => model.SlideDateHide,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                        @Html.ValidationMessageFor(model => model.SlideDateHide, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.Label(" ", htmlAttributes: new { @class = "control-label col-sm-2  hidden-xs " })
                    <div class="col-sm-offset-3 col-sm-3">
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

            </div><!-- //.form-horizontal -->

        }


        <style>
            textarea {
                height: 40px;
            }
        </style>

</div><!-- /.contentBgWhite -->
</div><!-- /.row -->
