﻿@model MVC442.Models.SlideManage

@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";
    ViewBag.Title = "Details";
}

<h2>SlideManage - Details</h2>
 

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideDes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideDes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideSort)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideSort)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideInputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideInputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideDateShow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideDateShow)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SlideDateHide)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SlideDateHide)
    </div>
 

    <div class="display-label">
       
    </div>
    <div class="display-field">
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index" , null ,    new { @class = "btnDefault" } )
    </div>

 

