﻿@model MVC442.Models.ViewModel.SlideManageVM

@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";
    ViewBag.Title = "Edit";
}


<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>
<!-- ==================   CKFinder Config    -->
<script>
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
        finder.selectActionFunction = SetFileField;
        finder.popup();

        ///========   It can also be done in a single line, calling the "static"
        // popup( basePath, width, height, selectFunction ) function:
        // CKFinder.popup( '../', null, null, SetFileField ) ;

        ///========  The "popup" function can also accept an object as the only argument.
        // CKFinder.popup( { basePath : '../', selectActionFunction : SetFileField } ) ;
    }

    function SetFileField(fileUrl) {
        document.getElementById('xFilePath').value = fileUrl;
    }
</script>


    <div class=" contentBgWhite ">
        <div class="row">
            @*//// Important define  wich background color*@

            <h2>Edit</h2>

            <div class="form-horizontal">

                @using (Html.BeginForm()) {

                    @Html.ValidationSummary(true)


                    @Html.HiddenFor(model => model.SlideId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideName,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })

                        <div class="col-sm-4 col-xs-12 ">
                            @*
                            <input id="xFilePath" name="FilePath" type="text" size="60" />
                            <input type="button" value="Browse Server" onclick="BrowseServer();" />
                            *@

                            @Html.TextBoxFor(model => model.SlideName,
            htmlAttributes: new {
                @id = "xFilePath", onclick = "BrowseServer();", @class = "form-control"
            })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideLink,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })

                        <div class="col-sm-4 col-xs-12 ">
                            @Html.EditorFor(model => model.SlideLink,
           new {
               htmlAttributes = new { @class = "form-control" }
           })



                            @Html.ValidationMessageFor(model => model.SlideLink)
                        </div>

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideDes,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })

                        <div class="col-sm-4 col-xs-12 ">
                            @Html.EditorFor(model => model.SlideDes,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                            @Html.ValidationMessageFor(model => model.SlideDes)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideStatus,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                        <div class="col-sm-4 col-xs-12 ">
                            <label>@Html.RadioButton("SlideStatus", "0") Hide</label>
                            <label>@Html.RadioButton("SlideStatus", "1") Show</label>
                            @Html.ValidationMessageFor(model => model.SlideStatus)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideSort,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                        <div class="col-sm-4 col-xs-12 ">
                            @Html.EditorFor(model => model.SlideSort,
           new {
               htmlAttributes = new { @class = "form-control" }
           })

                            @*@if(Model.SlideSort  != 9999 ){
                               @Html.EditorFor(model => model.SlideSort  )  //
                            }else{
                                @Html.TextBoxFor(model => model.SlideSort, new { @Value = "" } )
                            }*@
                        </div>
                    </div>


                    <div class="form-group">

                        @Html.LabelFor(model => model.SlideDateShow,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                        <div class="col-sm-4 col-xs-12 ">
                            @Html.EditorFor(model => model.SlideDateShow,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                            @*   // Use  with EditorTemplate    *@
                            @*   @Html.TextBoxFor(m => m.SlideDateShow, ((DateTime)Model.SlideDateShow).ToString("MM/dd/yyyy HH:mm") )     *@
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SlideDateHide,
           htmlAttributes: new { @class = "control-label col-sm-3  col-xs-3 " })
                        <div class="col-sm-4 col-xs-12 ">
                            @Html.EditorFor(model => model.SlideDateHide,
           new {
               htmlAttributes = new { @class = "form-control" }
           })
                            @*  @Html.EditorFor(model => model.SlideDateHide ,  new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })  // Feature MVC 5.1  *@
                            @*@Html.TextBoxFor(m => m.SlideDateHide, ((DateTime)Model.SlideDateHide).ToString("MM/dd/yyyy HH:mm"))*@
                            @Html.ValidationMessageFor(model => model.SlideDateHide)
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3   col-sm-4 col-xs-12 ">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btnDefault  btn-xs " })
                            <input type="submit" value="Save" class="btn  btnDefault btn-xs " />
                        </div>
                    </div>

                }


            </div><!-- //.form-horizontal -->

            <style>
                textarea {
                    height: 40px;
                }
            </style>


        </div><!-- /.row -->
            </div><!-- /.contentBgWhite -->
