﻿@*////// Add PageList//////// *@
@using PagedList
@using MVC442.Helper.UT

@*@using PagedList.Mvc*@
@model IPagedList<MVC442.Models.ViewModel.SlideManageVM>

@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";

    ViewBag.Title = "Index";
    string conType = Request.QueryString["type"];
}



    <div class=" contentBgWhite  "> @*//// Important define  wich background color*@  


        @*<style>
            .dataList td:nth-child(1) {
                width: 3%;
            }

            .dataList td:nth-child(2) {
                text-align: left;
              width: 8%;
            }

            .dataList td:nth-child(3) {
                width: 3%;
                text-align: center;
            }

            .dataList td:nth-child(4) {
                width: 5%;
            }

            .dataList td:nth-child(5) {
                width: 10%;
            }

            .dataList td:nth-child(6) {
                width: 10%;
            }

            .dataList td:nth-child(7) {
                width: 10%;
            }

            .dataList td:last-child {
                width: 11%;
            }
        </style>*@
        <div class="row">
            <h2>SlideManage - List</h2>


            <div class="col-sm-6 text-left">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btnDefault btn-xs" })
            </div>
            <div class="col-sm-6  text-right " style="display:none;">
                <p>DateTimeNow UK  : @DateTime.Now</p>
                <p>Timezone Offset : @Session["timezoneoffset"] </p>
                @*<p>Test Convert Timezone : @Utillity.SetLocalTimeZone( new DateTime(2015, 1, 25, 3, 15, 7, 123) ) </p>*@
                <p> สถานะจะแสดงเป็น Hide อัตโนมัติ เมื่อวันที่ปัจจุบัน มากกว่า วันที่หยุดแสดง </p>
            </div>



            <div class="table-responsive">
                <table class=" table dataList">
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().SlideId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().SlideNameDisplay)
                        </th>

                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().SlideStatusDisplay)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().SlideSortDisplay)
                        </th>

                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().SlideDateShowDisplay)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().SlideDateHideDisplay)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.First().SlideInputDateDisplay)
                        </th>*@
                        <th class="text-center">
                            จัดการ
                        </th>
                    </tr>



                    @foreach (var item in Model) {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.SlideId)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SlideNameDisplay)
                            </td>
                            <td class="text-center">
                                <img src="~/Content/images/backend/@(item.SlideStatusDisplay)" />
                            </td>
                            <td class="text-center">
                                @*@if ( @Html.DisplayFor(modelItem => item.SlideSort).ToString() != "9999" ) {  // Set hide value if == 9999
                                      @Html.DisplayFor(modelItem => item.SlideSort)
                                }*@

                                @Html.DisplayFor(modelItem => item.SlideSortDisplay)

                            </td>

                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.SlideDateShowDisplay)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.SlideDateHideDisplay)
                            </td>

                            @*<td>
                                @Html.DisplayFor(modelItem => item.SlideInputDateDisplay)

                            </td>*@

                            <td class="text-center">
                                @Html.ActionLink("แก้ไข", "Edit", new { id = item.SlideId }, new { @class = "btn btn-default btn-xs " })

                                @Ajax.ActionLink("ลบ", "Delete", new { id = item.SlideId }, new AjaxOptions {
                               HttpMethod = "POST",
                               Confirm = "ยืนยันลบข้อมูล?",
                               OnComplete = "deleteComplete"
                           },
                  new { @class = "btn btn-default btn-xs " }
                                                                         )


                            </td>
                        </tr>
                    }

                </table>
            </div><!--/.table-responsive  -->
            <!-- reload after delete by Ajax -->
            <script>
                function deleteComplete() {
                    window.location.reload();
                }
            </script>



            <!-- Start show PagedList -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            Of @Model.PageCount

            @if (Model.HasPreviousPage) {
                @Html.ActionLink("<<", "Index", new { page = 1, type = conType })
                @Html.Raw(" ");
                @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, type = conType })

            } else {
                @:<<
                @Html.Raw(" ");
                @: < Prev
}

            @if (Model.HasNextPage) {
                @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, type = conType })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount, type = conType })
            } else {
                @:Next >
                @Html.Raw("");
                @: >>
}


        </div><!-- /.row -->

        </div><!-- /.contentBgWhite -->
   
