﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no " />   

    
    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title> 
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 

    
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- ////// CSS Basic -  API   //// --> 
        <link href="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/Content/442styles/bootstrap.min.css" rel="stylesheet" />   

         <!--///// CSS Custom ///// -->  
    <link href="~/Content/442styles/fontface.css" rel="stylesheet" /> 
    <link href="~/Content/442Styles/layoutBasic.css" rel="stylesheet" />
    <link href="~/Content/442Styles/layout442.css" rel="stylesheet" />


        <!--///// CSS - Jquery Plugin ///// -->  
       <link href="~/Scripts/442Scripts/BxSlide/jquery.bxslider.css" rel="stylesheet" />

    <!--///// CSS Override   ///// -->
    <link href="~/Content/442Styles/bootstrapOverride.css" rel="stylesheet" />
    <link href="~/Content/442Styles/bootstrapMediaQuery.css" rel="stylesheet" />
    <link href="~/Content/442styles/Override-Jquery-UI.css" rel="stylesheet" /> 
     
        <!-- ////// Script MVC4  //// -->  
       <script src="~/Scripts/jquery-1.10.2.js"></script> 
        <script src="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
        <script src="~/Scripts/bootstrap.js"></script>

        <!-- ////// Script Jquery UI - Modal  //// -->  
        <script src="~/Scripts/442Scripts/JqueryUI/config-jqueryUiModal.js"></script>

        <!-- ////// Script Jquery Plugin - BxSlide  //// --> 
        <script src="~/Scripts/442Scripts/youtubeAPI.js"></script> 
        <script src="~/Scripts/442Scripts/BxSlide/bxslider.js"></script> 
        <script src="~/Scripts/442Scripts/BxSlide/config-Bxslide.js"></script>
    
        <!-- ////// JS Custom  //// --> 
       <script src="~/Scripts/442Scripts/_jsLibrary.js"></script>

     
    @RenderSection("Scripts", required: false)
     
    <script>
        //// Process OpenAccount  ( Close dialog After Finish  )
        function closeDialogOpenAccount() {
            $("#modalOpenAccount").dialog('close'); // Close dialog Open Account
           // window.location.reload();
        }

        $(function () {
             

            /////// Set Preload Images
             PreLoadImages(
                "@Url.Content("~/Content/Images/fontend/promotion/bgPromotion.png")", 
                "@Url.Content("~/Content/Images/fontend/442tel.png")",
                "@Url.Content("~/Content/Images/fontend/442_LogoWeb.png")",
                "@Url.Content("~/Content/Images/fontend/btn-join_now.gif")",
                "@Url.Content("~/Content/Images/fontend/liveChatButton.png")",
                "@Url.Content("~/Content/Images/fontend/buttonDialogClose.png")",

                "@Url.Content("~/Content/Images/fontend/banner/popupTor-Small.png")",
                "@Url.Content("~/Content/Images/fontend/banner/442bb_side_001.gif")",
                "@Url.Content("~/Content/Images/fontend/banner/442bb_side_002.gif")",
                "@Url.Content("~/Content/Images/fontend/slide/Casino/Casino1.jpg")",
                "@Url.Content("~/Content/Images/fontend/slide/Casino/Casino2.jpg")" ,
                "@Url.Content("~/Content/Images/fontend/slide/Premier-League/Premier-League-Open.jpg")"

              );
          

        /////// Set  JqueryUI Modal Set 
         DialogLiveChat(false, false, "#dialogLiveChat", '#openDialogLiveChat1', 300, 600, "right top", "right bottom", window, "fixed-dialog");
         DialogLiveChat(false, false, "#dialogLiveChat", '#openDialogLiveChat2', 300, 600, "right top", "right bottom", window, "fixed-dialog");

         DialogBasic(false, true, "#dialogOTP", '#openDialogOTP', 350, 600, "center", "top-100");
         DialogBasic(false, true, "#dialogLine", '#openDialogLine', 250, 250, "center", "center");
         DialogBasic(false, false, "#dialogRadio", '#openDialogRadio', 400, 300, "center", "center", window, null, true);
         DialogBasic(false, true, "#modalOpenAccount", '#btnOpenAccount1', 530, 420);
         DialogBasic(false, true, "#modalOpenAccount", '#btnOpenAccount2', 530, 420);



        });
    </script>

     @RenderSection("Scripts2", required: false)
  
</head>
<body>
 
<!-- //// Start Facebook HTML5 SDK -->
    <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- //// End Facebook HTML5 SDK -->
    <script>
    $(function () {
    /////  Increse  manage  col size below 768
    var $window = $(window);
    var $headerCol1 = $('.headerCol1');
    var $headerCol2 = $('.headerCol2');

    function checkWidth() {
        var windowsize = $window.width();
            if (windowsize < 360) {
                $headerCol1.removeClassPrefix('col-xs');
                $headerCol2.removeClassPrefix('col-xs');
                $headerCol1.addClass("col-xs-7");
                $headerCol2.addClass("col-xs-12");
            } else if (windowsize < 490) {
                $headerCol1.removeClassPrefix('col-xs');
                $headerCol2.removeClassPrefix('col-xs');
                $headerCol1.addClass("col-xs-6");
                $headerCol2.addClass("col-xs-12");
            } else if (windowsize < 550) {
                $headerCol1.removeClassPrefix('col-xs');
                $headerCol2.removeClassPrefix('col-xs');
                $headerCol1.addClass("col-xs-6");
                $headerCol2.addClass("col-xs-12");
            } else if (windowsize <650) {
                $headerCol1.removeClassPrefix('col-xs');
                $headerCol2.removeClassPrefix('col-xs');
                $headerCol1.addClass("col-xs-4");
                $headerCol2.addClass("col-xs-7");
             } else if(windowsize < 767  )  {
                 $headerCol1.removeClassPrefix('col-xs');
                 $headerCol2.removeClassPrefix('col-xs');
                 $headerCol1.addClass("col-xs-4");
                 $headerCol2.addClass("col-xs-8");
             } else {
              
             }
    }

    
        checkWidth();// Execute on load 
        $(window).resize(checkWidth);// Bind event listener
});
    </script>

    <div id="outer-container"> 
        <div class="container  cstContainer ">
            <!--///////// Nav Button  - xs    & Header - xs sd md lg  -->
            <nav class="navbar navbar-default" role="navigation" style="padding-top:5px; "> 
             
                    <!-- // Nav Button - xs  -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
             
                    <div class="row  headerRow"  >
                     
                        <div class="    col-sm-3 col-md-6  cstNoPadding   headerCol1">
                            <a href="@Url.Action("Index", "Home")"> 
                                <img src="~/Content/Images/fontend/logo442-md.png" class="img-thumbnail"  width="200"  />
                            </a>
                        </div>
                  <!-- //HeaderCallCenter  This show on xs -->
                        <div class="   visible-block-xs hidden-sm  hidden-md hidden-lg   text-center  headerCol2  "  >
                            @Html.Partial("FontEnd/_HeaderCallCenterPatial")
                        </div>
                 
                        <div class=" col-xs-12 col-sm-9 col-md-6 cstNoPadding   ">
                            <div class=" pull-right-sm pull-right-md  pull-right-lg  telCol1 ">
                                Call Center<span>บริการ</span> 24 <span>ชม.</span>
                            </div>
                            <div class=" cstNoPadding  pull-right-sm   pull-right-md   pull-right-lg  telCol2">
                                083-733-3334,082-220-9992
                            </div>
                        </div>
                <!-- //HeaderCallCenter  This show on sm md lg -->
                        <div class=" col-xs-6  visible-block-sm  visible-block-md visible-block-lg   pull-right  text-right   hidden-xs    ">
                            @Html.Partial("FontEnd/_HeaderCallCenterPatial")
                        </div>

                    </div><!-- /.row -->  
 
            </nav><!-- /.navbar -->

            <!-- ///////// Navbar - sm md lg   -->
            <div id="navbar" class="collapse navbar-collapse">
                @Html.Partial("FontEnd/_NavFrontEndPartial")
            </div><!-- /.nav-collapse -->
         
        </div> <!-- /.container-->
     
 
        @RenderSection("Test", required: false)
     
        <div class="container  cstContainer"  > 
            @Html.Action("SlideManagePartialQuery", "Home")
            <script>
                bxSliderYoutube($("#bxslider1"), true, true, 3000); // Banner Top
                //bxSliderBasic($("#bxslider3"), false, 4500);   // Banner Float
            </script> 
        </div> <!-- /.container--> 

       <div class="container  cstContainer " style="padding-top:10px;"  > 
           <div class="row  cstNoPadding">
               <!-- //////// Area Content -->
               <div class="col-xs-12 col-sm-9 ">
                   @RenderBody()
               </div>

               <!-- //////// Area SideBar -->
               <div class="col-xs-12 col-sm-3   ">
                   @Html.Partial("FontEnd/_SidebarPartial")
                   <script>
                            bxSliderBasic($("#bxslider2"), false, 4500); //4500
                   </script>
               </div>

               <!-- //////// Area LiveScore -->
               <div class="col-xs-12 col-sm-12  liveScore-outer  liveScoreRow ">
                   @Html.Partial("FontEnd/_LiveScorePartial")
               </div>

               <!-- //////// Area Footer -->
               <div class="col-xs-12 col-sm-12">
                   @Html.Partial("FontEnd/_FooterFrontEndPartial")
               </div>

           

            <!--/////////// Button Dialog  LiveChat  ////// -->
             
                   <div id="openDialogLiveChat2 " class="visible-md visible-lg">
                       <img src="~/Content/images/fontend/liveChatButton.png" width="296" height="36">
                   </div>


 

        </div> <!--/.container-->
    </div>  <!--/#outer-container --> 

    

    <!--/////////// 442live  Analytic -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28786480-1']);
        _gaq.push(['_setDomainName', '442.im']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
     
 
  <style>
 

         /* This element defines the size the iframe will take.
       In this example we want to have a ratio of 25:14 */
    .aspect-ratio1 {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
    }

    .aspect-ratio2 {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 95%; /* The height of the item will now be 56% of the width. */
    }
 
    /* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }


</style>

     
        <!-- \\ Bootstap Modal -  OpenAccount -->
        <div class="modal fade" id="myModalOtpLogin" role="dialog">

            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="aspect-ratio1"> 
                            <iframe src="@Url.Action( "OpenAccount" , "Home" , null )" scrolling="NO" frameborder="0"></iframe>  
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    <!-- \\ Bootstap Modal -  OTP Login  -->
    <div class="modal fade" id="myModalOtpLogin" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content"> 

                <div class="modal-body">
                 
                    <div class="aspect-ratio1">
                        <iframe src="http://www.appsmodule.4-4-2.im/CashCredit/Module/Clogin2.aspx" frameborder="0"></iframe>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- \\ Bootstap Modal -  LiveChat  -->
    <div class="modal fade" id="myModalLiveChat" role="dialog"> 
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Member Login</h4>
                    </div>*@

                <div class="modal-body">  

                    <div class="aspect-ratio2">
                        <iframe src="http://www.appsmodule.4-4-2.im/cashcredit/Module/CLiveChat2.aspx" frameborder="0"   ></iframe>
                    </div>



                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- //////////// Content  Dialog   ///////// -->
    @*@Html.Partial("FontEnd/_DialogOpenAccountPartial")*@
    @*@Html.Action("OpenAccount" , "Home")*@
    @Html.Partial("FontEnd/_DialogRadioPartial")
    @*@Html.Partial("FontEnd/_DialogLiveChatPartial")*@
    @Html.Partial("FontEnd/_DialogLinePartial")
    @*@Html.Partial("FontEnd/_DialogOTPPartial")*@

    
    
</body>



</html>



 