﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" /> 
<meta name="robots" content="index,  no-follow" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


@* //=================== 442.im CSS  *@  

<!-- ////// CSS Basic -  API   //// --> 
<link href="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Content/442Styles/bootstrap.min.css" rel="stylesheet" />  
  
     
    <!--///// CSS Custom ///// -->
    <link href="~/Content/442styles/fontface.css" rel="stylesheet" />
    <link href="~/Content/442Styles/basicLayout.css" rel="stylesheet" />
    <link href="~/Content/442Styles/442Layout.css" rel="stylesheet" />
    
<!--///// CSS Override   ///// -->
<link href="~/Content/442styles/Override-bootstrap.css" rel="stylesheet" />
<link href="~/Content/442Styles/Override-Jquery-UI.css" rel="stylesheet" />
 
<!-- ////// Script MVC4  //// --> 
<script src="~/Scripts/jquery-1.10.2.js"></script> 
<script src="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.3.js"></script> 
<script src="~/Scripts/bootstrap.js"></script> 

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  
 
<!-- ////// Script Get Time Zone ( display dates and times in clients timezone ) ////// --> 
<script src="~/Scripts/442Scripts/timeZone/jquery-cookie-plugin.js"></script>
<script src="~/Scripts/442Scripts/timeZone/timeZoneCookieCreate.js"></script>
  
  
 <!-- ////// malot-datetimepicker-master  ////// --> 
    <link href="~/Scripts/442Scripts/malot-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/442Scripts/malot-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>    
    <script src="~/Scripts/442Scripts/malot-datetimepicker-master/js/locales/bootstrap-datetimepicker.th.js"></script>

    <script> 
        $(function () {
        //\\\\\\\\ jQuery DateTimePicker not  validate with format  dd/mm/yyyy   &  Not Allow  to Submit  on  Chrome Browser   
            jQuery.extend(jQuery.validator.methods, {
                date: function (value, element) {
                    var isChrome = window.chrome;
                    // make correction for chrome
                    if (isChrome) {
                        var d = new Date();
                        return this.optional(element) ||
                        !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                    }
                        // leave default behavior
                    else {
                        return this.optional(element) ||
                        !/Invalid|NaN/.test(new Date(value));
                    }
                }
            });
             

        //\\\\\  Set  jQuery DateTimePicker  
        $("input[id*='Date']").datetimepicker({
            language: 'th',
            // format: "mm/dd/yyyy hh:ii", // If not validate  format "mm/dd/yyyy hh:ii"  will can't  Submit  on  Chrome Browser   
            //format: "dd/mm/yyyy hh:ii",
            //startDate: new Date, // Set Start today Date 


            //// Arguments for the date picker
            //showOptions: { speed: 'fast' },
            //changeMonth: false,
            //changeYear: false,
            //dateFormat: 'dd/mm/yy',
            //gotoCurrent: true,

            //// Arguments for the time picker    
            //showSecond: true,
            //timeFormat: 'hh:mm:ss',
            //stepHour: 2,
            //stepMinute: 10,
            //stepSecond: 10
        }); 
  });
    </script>
       
@RenderSection("Scripts" , required: false )  
     
</head>
<body >   

  <div  id="outer-container" > 
    <div  class="container">
          <div id="inner-container"> 
                  <!--///////// Nav Button  - xs    & Header - xs sd md lg  -->
                  <nav class="navbar navbar-default" role="navigation">
                      <div class="warpHeader">
                          <div class="navbar-header">

                              <!-- // Nav Button - xs  -->
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>


                              <!-- Header content -->
                              <div class="headerContent" style="background-color:#461919;">
                                  <div class="row " style="overflow: hidden ;height:90px;">
                                      <div class=" col-sm-5 col-md-6 ">
                                          <a href="@Url.Action("Index", "Home")">
                                              <img src="~/Content/Images/fontend/442_LogoWeb.png" class="visible-xs" />
                                              <img src="~/Content/Images/fontend/logo442-xs.png" class="hidden-xs" />
                                          </a>
                                      </div>
                                      <div class=" col-xs-4 col-sm-4 col-md-6 ">
                                          @Html.Partial("_LoginPartial")
                                      </div>
                                  </div><!-- //.row -->




                              </div><!--/.headerContent-->

                          </div><!-- /.navbar-header  -->


                      </div><!-- /.warpHeader -->
                  </nav><!-- /.navbar -->
              <!--  MenuTop For All Size -->
              <div id="navbar" class="collapse navbar-collapse">
                  @Html.Partial("BackEnd/_NavBackEndPartial") 
              </div><!-- /.nav-collapse -->



   
        <div id="wrapper"  class="wrapperBgColorWhite"  >
             
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-sm-12">
      
                    @RenderBody() 
                </div>
                <!--/span-->
                 
            </div>
            <!--/row-->
           
   
        </div>
        <!--/#wrapper-->
     
          </div><!-- / #inner-container --> 
    </div>   <!--/.container--> 
 </div>  <!--/ #outer-container --> 
 
 
     
</body> 
     
</html>

