﻿ <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index,  no-follow" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @* //=================== 442.im CSS  *@

    <!-- ////// CSS Basic -  API   //// -->
    <link href="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Content/442Styles/bootstrap.min.css" rel="stylesheet" />


    <!--///// CSS Custom ///// -->
    <link href="~/Content/442styles/fontface.css" rel="stylesheet" />
    <link href="~/Content/442Styles/basicLayout.css" rel="stylesheet" />
    <link href="~/Content/442Styles/442Layout.css" rel="stylesheet" />

    <!--///// CSS Override   ///// -->
    <link href="~/Content/442styles/Override-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/442Styles/Override-Jquery-UI.css" rel="stylesheet" />

    <!-- ////// Script MVC4  //// -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/442Scripts/JqueryUI/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!-- ////// Script Get Time Zone ( display dates and times in clients timezone ) ////// -->
    <script src="~/Scripts/442Scripts/timeZone/jquery-cookie-plugin.js"></script>
    <script src="~/Scripts/442Scripts/timeZone/timeZoneCookieCreate.js"></script>

    <!-- //\\\\\\\\\\\\\\\ Bootstab DateTimePicker  4.0 - GitHub Eonasdan (Jquery) \\\\\\\\\\\\\\ -->
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!-- ////// This Moment version for use Local Language -->
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script>
        $(function () {
            $("input[id*='DATE']").datetimepicker({  // Is input name ingredient "Date"  set to DateTimePicker
                locale: 'th'  // locale have Issuse with  Buddhist calendar  in   >>  format: 'lll'
                    , format: 'DD/MM/YYYY HH:mm' // Use  HH:mm  for use time 24 hourse
                //, viewMode: 'years'
                    , showClear: true // show clear button
                    , showClose: true
                // , debug: true // prevent the picker from calling hide()  on blur

                    , daysOfWeekDisabled: [0, 6] // Disable on Sat & Sun
                    , minDate: new Date() // Disallows  user select  before  moment.
                    , maxDate: false
                // , disabledDates: [ moment("07/28/2015") , new Date(2015,7,29) ,  "07/30/2015 00:53" ] // For Add Holiday


                /*
                Can't  Define  defaultDate If All thing !!!!!
                ( defaultDate TypeError - if including disabledDates, enabledDates, minDate, maxDate, daysOfWeekDisabled )
                ( defaultDate TypeError - if the provided date cannot be parsed by momentjs )
                */
                //, defaultDate: false   // Return no DefaultDate  // No Effect If @@EditorFor Set  @@placeholder
            })

        });

    </script>  

    @RenderSection("Scripts", required: false)

</head>
<body>

    <div id="outer-container">

        <div id="container">
            <div id="inner-container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="containerHeader">
                        <!-- Just Small Button For 767px -->
                        <div class="navbar-header">



                            <!-- Button For Small Display -->
                            <header>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="@Url.Action("Index", "Home" )"> <img src="~/Content/Images/fontend/442_LogoWeb.png" /> </a>
                                    </div>

                                    <!-- /.col-sm-3  -->
                                    <div class="col-sm-9">

                                        <div class="boxStatus">
                                            <!--   Status  User -->
                                            @Html.Partial("_LoginPartial")
                                        </div> <!-- /.boxStatus -->
                                    </div> <!-- /.col-sm-9  -->
                                </div> <!-- /.row  -->
                            </header>
                        </div>
                        <div class="clear"></div>
                        @*======== Navigation ======*@
                        @Html.Partial("BackEnd/_NavBackEndPartial")
                        @*======== Test RenderSection ======*@
                        @* @RenderSection("Test" , required: false ) *@

                    </div>
                    <!-- /.containerHeader -->
                </div>
                <!-- /.navbar -->



                <div id="wrapper" class="wrapperBgColorWhite">

                    <div class="row row-offcanvas row-offcanvas-right">
                        <div class=" col-sm-12">

                            @RenderBody()
                        </div>
                        <!--/span-->

                    </div>
                    <!--/row-->


                </div>
                <!--/#wrapper-->

                <div>
                    <!-- / #inner-container -->

                </div>   <!--/#container-->
            </div>  <!--/ #outer-container -->



</body>

</html>

