﻿@*////// Add PageList//////// *@
@using PagedList
@*@using PagedList.Mvc*@
@model IPagedList<MVC442.Models.ViewModel.BankWebLinkVM>



@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";
    ViewBag.Title = "Index";
}


<div class="row">
    <div class=" contentBgWhite  ">
        <style>
            .dataList td:nth-child(1) {
                width: 3%;
            }

            .dataList td:nth-child(2) {
                width: 10%;
                text-align: center;
            }

            [class*=dataList] td:nth-child(3) {
                text-align: left;
            }

            .dataList td:nth-child(4) {
                width: 10%;
            }

            .dataList td:nth-child(5) {
                text-align: center;
                width: 10%;
            }

            .dataList td:nth-child(6) {
                text-align: center;
                width: 10%;
            }

            .dataList td:nth-child(7) {
                text-align: center;
                width: 10%;
            }

            .dataList td:last-child {
                width: 11%;
            }
        </style>


        <h2>BankLink - List</h2>
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btnDefault" })
        </p>
        <table class="table  dataList">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().IdCon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BankLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IconPathImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IconPathFlash)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().BankSort)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.First().BankStaus)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().InputDate)
                </th>




                <th>
                    จัดการ

                </th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>

                    <td>
                        <div style="text-align:left;">
                            <a href="@Html.DisplayFor(modelItem => item.BankLink)" target="_blank">@Html.DisplayFor(modelItem => item.BankLinkTrim)</a>
                        </div>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IconPathImageTrimed)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.IconPathFlashTrimed)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.BankSort)
                    </td>



                    <td>

                        @if (item.BankStaus == 1) {
                            <img src="~/Content/images/backend/check-right.png" />
                        } else {
                            <img src="~/Content/images/backend/check-wrong.png" />
                        }

                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.InputDate)
                    </td>

                    <td>
                        @Html.ActionLink("แก้ไข", "Edit", new { id = item.IdCon }, new { @class = "btn btn-default  btn-xs", Styles = "" })

                        @Ajax.ActionLink("ลบ", "Delete", new { id = item.IdCon }, new AjaxOptions {
                       HttpMethod = "POst",
                       Confirm = "ยืนยันลบข้อมูล?",
                       OnComplete = "deleteComplete"
                   },
                  new { @class = "btn btn-default btn-xs" }

                  )
                    </td>


                </tr>
            }

        </table>

        <!-- reload after delete by Ajax -->
        <script>
            function deleteComplete() {
                window.location.reload();
            }
        </script>



        <!-- Start show PagedList -->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        Of @Model.PageCount

        @if (Model.HasPreviousPage) {
            @Html.ActionLink("<<", "Index", new { page = 1 })
            @Html.Raw(" ");
            @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1 })

        } else {
            @:<<
            @Html.Raw(" ");
            @: < Prev
}

        @if (Model.HasNextPage) {
            @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1 })
            @Html.Raw(" ");
            @Html.ActionLink(">>", "Index", new { page = Model.PageCount })
        } else {
            @:Next >
            @Html.Raw("");
            @: >>
}

    </div><!-- /.contentBgWhite -->
</div><!-- /.row -->
