﻿@model MVC442.Models.ViewModel.ClientMessageVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Edit";
}

<h2>ClientMessageEmail Edit</h2>

<div class="outerForm">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      
     
    
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCon) :
        </div> 
        <div class="editor-field">  
             @Html.DisplayFor(model => model.IdCon)  
             @Html.HiddenFor(model => model.IdCon)  @*///////  Set type="hidden"  for get data from database*@
        </div>  
      
           
            @Html.EditorFor(model => model.IdCat)  @*///////  Create hidden input  by   [HiddenInput(DisplayValue = false)] in viewModel *@
            
            @*  
            @Html.Editor("IdCat" , (object)@ViewBag.IdCat)  //////// have to Cast (object) object befor use
            *@ 
    
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Name) :
        </div> 
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div> 

         <div class="editor-label"> 
        </div>
        <div class="editor-field">
               @Html.ActionLink("ยกเลิก", "Index"  , null, new {@class="btnDefault"  }  )
         <input type="submit" value="บันทึก" class="btnDefault"  />  
        </div>
    
      
}
 
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
