﻿/*======================== Page Loogin */
#login { position: absolute; right: 10px; top: 10px; width: 150px; text-align: right ; }

/*======================== Page Loogin */



/* 
.nav-pills > li.active > a { background-color: red; }
.nav-pills > li > a { border-radius: 0px;  color:#fff ; }
.nav .open > a , .nav .open > a:hover, .nav .open > a:focus { background-color: #8A1F1F ; color: #F90 ; }
.dropdown-menu { background-color: #8A1F1F ; color:#fff; }
.dropdown-menu > li > a { color: #fff ; text-decoration: none;  }
.dropdown-menu > li > a:hover { color: #fff; background-color: #f5f5f5; }
.dropdown-menu > li > a:focus { color: #fff ; text-decoration: none; background-color: #f5f5f5; }
*/


