﻿@charset "utf-8";
 
/*//============ Font Face  */  
 
@font-face { font-family: 'RSULight'; 
src: url('font/RSULight/rsu_light-webfont.eot'); 
src: url('font/RSULight/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),  
url('font/RSULight/rsu_light-webfont.ttf') format('truetype'), 
url('font/RSULight/rsu_light-webfont.svg#RSULight') format('svg'); 
font-weight: normal; font-style: normal;  
}


@font-face { font-family: 'DotFont'; 
src: url('font/DotFont/dotfont-.eot?#iefix') format('embedded-opentype'),
    url('font/DotFont/dotfont-.ttf') format('truetype'); 
font-weight: normal; font-style: normal; }


@font-face { font-family: 'DBHelvethaicaX45Li'; 
src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),  
    url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'); 
font-weight: normal; font-style: normal; }


@font-face { font-family: 'DBHelvethaiCamon'; 
src: url('font/DBHelvethaiCamon/db_helvethaicamon_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),  
    url('font/DBHelvethaiCamon/db_helvethaicamon_x_v3.2-webfont.ttf') format('truetype'); 
font-weight: normal; font-style: normal; }

 @font-face { font-family: 'Luxurian'; 
src: url('font/Luxurian/luxurianaoe.eot?#iefix') format('embedded-opentype'),  
    url('font/Luxurian/luxurianaoe.ttf') format('truetype'); 
font-weight: normal; font-style: normal; }

 