﻿@charset "utf-8";

 
#outer-container {
 background: url(../images/fontend/bg-event.jpg) no-repeat center top;
  background-color: #2a0000;
}
  
 
#BackEnd {
  padding: 10px;
  background-color: #fff;
  height: auto !important;
  height: 768px;
  min-height: 768px;
} 
/*////////////////Header */ 
.boxStatus {
  position: absolute;
  bottom: 0px;
  right: 15px;
  top: 0px;
}
/*///////////////Header */
.telCol1  {
text-align:center ;
 font-family: 'Luxurian'; 
  font-size: 2.3rem ;
line-height: 2.3rem;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
        
}
.telCol2  {
text-align:center ;
 font-family: 'Luxurian'; 
  font-size: 2.3rem ;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
 
}
.telCol1 span {
text-align:center ;
 font-family: 'DBHelvethaiCamon'; 
  font-size:  3rem ;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
  /*line-height: 37px;*/
}

.HeadLogo {
width:100%;
padding-bottom:50px;
}

.img-thumbnail {
    background-color: transparent;
    border: none ; 
}

/*///////////////Title BG */ 
.title-box {
  background: url(../Images/fontend/pattern_dot.jpg) repeat left top; 
/*margin-bottom: 10px;*/
}

.h1-bg1 {
  background-image : url(../Images/fontend/bg-title/h1-bg1.png)  ,
                     url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
  padding: 0.5em;
}

.h1-bg2 {
  background: url(../Images/fontend/bg-title/h1-bg2.png) ,
              url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
  padding: 0.5rem;
}

.h1-bg3 {
  background: url(../Images/fontend/bg-title/h1-bg3.png) ,
              url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
  padding: 0.5rem;
}

.h1-bg4 {
  background: url(../Images/fontend/bg-title/h1-bg4.png) ,
                url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
 padding: 0.5rem;
}

.h1-bg5 {
  background: url(../Images/fontend/bg-title/h1-bg5.png) ,
                url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
 padding: 0.5rem;
}

.h1-bg6 {
  background: url(../Images/fontend/bg-title/h1-bg6.png) ,
                url(../Images/fontend/pattern_dot.jpg)  ;
  background-repeat  :  no-repeat ,  repeat ;
  background-position: bottom right,  left ; 
 padding: 0.5rem;
}

.title-th {
  font-family: 'DBHelvethaiCamon';
  font-size: 4.2rem;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
  line-height: 37px;

}
.title-th:after {
text-shadow: 1px 1px 0px rgba(255, 255, 255 ,1 );
}

.title-en {
  font-family: 'DotFont';
  font-size: 3rem;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
}

.info-bg1 {
  background: url(../Images/fontend/bg-title/info-bg1.png) no-repeat left top;
  padding: 10px;
  height: auto !important;
  height: 447px;
  min-height: 447px;
}

.info-bg1 .info {
  padding-left: 252px;
}

.info-bg2 {
  background: url(../Images/fontend/bg-title/info-bg2.png) no-repeat left top;
  padding: 10px;
  height: auto !important;
  height: 447px;
  min-height: 447px;
}

.info-bg2 .info {
  padding-left: 252px;
}

.info-bg3 {
  background: url(../Images/fontend/bg-title/info-bg3.png) no-repeat left top;
  padding: 10px;
  height: auto !important;
  height: 447px;
  min-height: 447px;
}

.info-bg3 .info {
  padding-left: 252px;
}
 
.liveScore-outer {
  background: url(../Images/fontend/pattern_dot.gif) repeat left top;
}


.liveScoreRow {
padding: 10px 5px;
}
.liveScoreRow  h4{
    font-size: 1.5em;
    color: #fff;
}
/*.liveScore-outer [title*=col-xs] {
  padding: 0px 5px;
}*/

.liveScore {
  padding: 0.5rem;
  margin-left: 0px;
  height: auto !important;
  height: 150px;
  min-height: 150px; 
  position: relative;
  left: 0px;
  bottom: 0px;
}

.topic1 {
  font-family: 'DotFont';
  font-size: 13rem;
  color: #95702a;
}




.liveScoreRow h3 {
  clear: both;
  margin-bottom: 0px;
  height: 30px;
  width: 350px;
  font-family: 'DotFont';
  font-size: 23px;
  background: -webkit-linear-gradient(#F8D991, #6f5d37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F8D991;
}



.liveScoreRow .liveScoreCol
{
 
}

 
.liveScoreRow   a {
    display: inline-block;
    font-size: 1.4rem;
}

 
.liveScoreRow .title1 {
  clear: both; 
  color: #a88f33;
    font-size: 1.6rem;
    color: #FFED00;
}

.liveScore Row.title2 {
  clear: both;
  margin-bottom: 3px;
  color: #a88f33; 
  font-size:2rem;
}
 
 footer {
  padding: 0px 0;
  color: #fff;
  background-color: #2C0303;
  list-style: none; 
  font-size: 22px;
  position: relative;
}

footer li {
display:inline ;
}

.footLink {
  
}

.footLink ul {
  width: 440px;
  margin: 0px auto;
  font-family: 'DBHelvethaicaX45Li';
  height: 30px;
}

.footLink li {
  float: left;
  list-style: none;
  padding-right: 10px;
}

.footLink a {
  color: #F90;
  text-decoration: none;
}

.footLink a:hover {
  color: #fff;
  text-decoration: none;
}

.container .btn-primary:hover {
  border-color: none;
}

.container .btn-primary {
  background-color: none;
  border-color: none;
  width: 35px;
  height: 40px;
  background: url(../Images/fontend/NavArrow.png) no-repeat left top;
  position: absolute;
  right: 5px;
  top: 5px;
}

.credit-box {
  height: 58px;
  margin: 0px auto;
  width: 710px;
}

.credit-box li {
  float: left;
  list-style: none;
}

.credit-box li span {
  display: none;
}

 
.footLink a{
padding:5px 5px; 
    font-size: 1.5rem;
}
.copyright {
 
  color: #fff;
  padding-bottom: 10px;
 
}

/*/////////SideRight */
 .sectionOTP {
  background-color: #c5070b;
  width: 188px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #A88F33;
  margin-bottom: 5px;
  padding: 3px 5px;
}

.sectionOTP h2 {
  color: #FF0;
  text-align: center;
  font-size: 28px;
}

 
.btnDownload {
   
}
.btnDownload img {
  border: 1px solid #A88F33; 
}

.btnJoinnow {
  background: url(../Images/fontend/btn-join_now.gif) no-repeat -10px top;
  width: 190px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #A88F33;
  margin-bottom: 5px;
  cursor: pointer;
}

.callcenter {
  background: url(../Images/fontend/bg_openAccount.jpg) no-repeat left top;
  width: 190px;
  height: 94px;
  border-radius: 10px;
  border: 2px solid #A88F33;
  margin-bottom: 5px;
}

 
.bankDeposite  {
background-color:#A01212 ;
margin-bottom:5px;
color:#fff;
}
.bankDepositeText1{
font-size:2em;
}
.bankDepositeText2{
     font-size: 2.1rem;
    line-height: 1.8rem;
}

.bankDeposite  .bankDepositeText { 
  font-size: 1.4rem;
}
.bankDeposit .bankIconFlash .rowBankname {
  text-align: center;
}

.bankDeposit .bankIconFlash .rowBankname a {
  color: #fff;
  font-size: 15px;
}

.bankDeposit .bankIconFlash .rowBankname a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bankDeposit .bankIconFlash li {
  float: left;
  margin-bottom: 10px;
  margin-right: 0px;
  margin: 0px;
  list-style: none;
}

.bankDeposit .bankDetail ul {
  padding-left: 20px;
  margin-bottom: 5px;
}

.bankDeposit .bankDetail li {
  margin-bottom: 0px;
  color: #FF0;
  font-family: 'DBHelvethaicaX45Li';
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  list-style: disc;
  line-height: 20px;
}

/*.liveRadio {
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #A88F33; 
}

.bankDeposit{
   margin-bottom:10px;
}
 .bankIcon  a { 
     font-size:18px; color:#fff;
} 
  .bankIcon  a:hover { 
    color:#FF0;
}*/ 
/*/==================Page =======================================/ */
 
 .casinoRow .casinoLogo {
 
}

.casinoRow .casinoName {
  color: #F90;
  font-weight: bold;
    font-size:1.4rem;
}

.casinoRow .casinoLink {
  color: #ccc;
    font-size:1.3rem;
}

.casinoRow .casinoLink a {
  color: #ccc;
}

.casinoRow .casinoLink a:hover {
  color: yellow;
}

/*.banercasinoCol-home {
  margin-bottom: 10px;
}*/
/*///////////////Page Deposit */ 
.pageDeposit {
 
} 
.pageDeposit .bankName1 {
  display: block;
}

.pageDeposit .bankName2 {
  color: #ffa504;
    font-size: 1.3rem;
}


.pageDeposit ol {
  /*height: 80px;
  float: left;*/
     padding-left: 20px;
}

.pageDeposit li {
list-style:decimal;
 
}

 

.textSmall {
  color: #F90;
}
 