﻿
/*//\\\\\\\\\\\\\\\\\\\ Basic Layout \\\\\\\\\\\\\\\\\\\\\\\\ */

 html { font-size: 62.5%; } /*////// Normal Browser font-size   100%  =  1em = 16px   /////  62.5% =  10px   use with rem (Root em )  */ 
body { font-family: Tahoma ;  color:#000; background-color: #9d1110 ;   /*font-size: 1.3rem*/   }  /*////// Override Boostap  font-size on body tag  */ 
a { color: #F90; margin: 0px; text-decoration:none ;}
a:hover { color: #F90;text-decoration:underline ; } 
h1,h2,h3 , h4 { margin-top: 0px; margin-bottom: 0px;  font-family: 'DBHelvethaicaX45Li';   }
img {border:none ;} 
 p{line-height :1.8rem ; font-size: 1.4rem  }
ol, ul {
font-size: 1.3rem 
}
h1 {   font-size: 3.6rem  }
h2 {   font-size: 3.3rem    } 
h3 {  font-size: 3rem   }
h4 {   font-size: 2.5rem    } 

input , label {
font-size: 1.3rem 
}


/*canvas { font-family: 'DotFont'; font-size: 50px;   }*/ 
.clear { clear: both; } 
header {  width: 100%; position:relative ;} 
/*#container {  margin: 0px auto;     height: auto !important;   height: 500px;  min-height: 500px;      background-color: #9d1110;    } 
#wrapper {  padding: 10px;   height: auto !important; height: 600px;  min-height: 600px;}
#sideLeft { float:left; margin-right:5px; }
#sideRight { float:left; }*/
 


/*//\\\\\\\\\\\\\\\   Multi Layout \\\\\\\\\\\\\\\\ */
.cstContainer {
 /*define  container-width on each sceen with mediaQuery */ 
} 
.cst-navBackEnd >li > a{
padding: 3px 2px; 
font-size: 2rem;
}

.cst-navFontEnd >li > a{
padding: 3px 2px; 
font-size: 2.2rem;
}

/*/////////  contentBgRed*/
.contentBgRed { 
  background-color: #490E0E;
  color: #fff;  
/*min-height:500px;*/
font-size:1.3rem ;
/*padding:10px;*/
}

.contentBgRed a {
  color: #f37c0a;
  text-decoration: underline;
} 

.contentBgRed a:hover {
  color: #f70c0c;
}
.contentBgRed a.btn-decorationClear{
 color: #fff;
  text-decoration: none;
}

.contentBgRed h1,
.contentBgRed h2,
.contentBgRed h3,
.contentBgRed h4 {
  color: #fff;
}
 
.contentBgRed p {
  color: #fff;
  margin-bottom: 10px;
 
}

/*/////////  contentBgWhite */
.contentBgWhite {
  background-color: #fff;
  color: #000; 
/*min-height:500px;*/
font-size:1.3rem ;
/*padding:10px;*/
}
.contentBgWhite h1,
.contentBgWhite h2,
.contentBgWhite h3,
.contentBgWhite h4 {
  color: #000 ;
}
.contentBgWhite p {
  color: #000;
  margin-bottom: 10px;
    font-size: 1.3rem;
}

.contentBgWhite  .table>tbody>tr>td{
padding:0px;
}