﻿.ui-widget-overlay { background: #FCF8F8; opacity: .8; }


.buttonDialogClose { background : url("../images/fontend/buttonDialogClose.png") no-repeat left top ; 
                     width:26px; height:26px; position:absolute;  top:5px; right:5px; } 
 
#openDialogLiveChat2 {
position: fixed;
bottom: 0px;
right: 0px;
z-index: 111;
}
 
/*///////// Override Jquery UI  Dailog //////////////*/
.fixed-dialog{ position: fixed; }
.ui-dialog { padding: 0px; background-color: none;}
.ui-widget-header {border: none; background: none;}
.ui-widget-content {border-radius: 10px;  border: none;}
.ui-draggable .ui-dialog-titlebar {cursor: move; display:none;}

/*////  Line - sModal /////*/
#dialogLine {text-align: center;  background-color: #740001;  padding: 10px; border-radius: 10px; border: 4px solid #A88F33;}
#dialogLine  .label1 {margin-bottom: 5px; font-size: 20px; color: #fff; font-weight: bold;}
#dialogLine  .label2 {font-size: 20px; color: #fff;/* font-wight:bold; */ margin-bottom: 5px;}
#dialogLine  .lineId {font-size: 26px; color: #E9C02B;}
 

