﻿@model MVC442.Models.WebboardQuizVM 
@using Recaptcha.Web.Mvc;  @*//// Recaptcha ( Google Service ) *@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";  

}
 
<div id="page-webboard">

<h2>Create</h2>

@using (Html.BeginForm("create", "webboard", FormMethod.Post, new { enctype = "multipart/form-data" })   )
{
    @Html.ValidationSummary(true) 

    
        <div class="editor-label">
            @Html.LabelFor(model => model.QuizTopic) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizTopic)
            @Html.ValidationMessageFor(model => model.QuizTopic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizMessage) :
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.QuizMessage, new { @id = "ckeditor" })
            @Html.ValidationMessageFor(model => model.QuizMessage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizName) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizName)
            @Html.ValidationMessageFor(model => model.QuizName)
        </div>
     
          <div class="editor-label">
            @Html.LabelFor(model => model.QuizEmail) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizEmail)
            @Html.ValidationMessageFor(model => model.QuizEmail)
        </div>
    
    
          <div class="editor-label">
             แนบไฟล์ :
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.QuizAttach1, new {type="file"} )
            @Html.ValidationMessageFor(model => model.QuizAttach1)
        </div>
    
      <div class="editor-label">
             แนบไฟล์ :
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.QuizAttach2, new {type="file"} )
            @Html.ValidationMessageFor(model => model.QuizAttach2)
        </div>
    
    
      <div class="editor-label">
             แนบไฟล์ :
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.QuizAttach3, new {type="file"} )
            @Html.ValidationMessageFor(model => model.QuizAttach3 )
        </div>
    
    <!--- Recaptcha ( Google Service )-->
     <div class="editor-label">
            Captcha :
        </div>
        <div class="editor-field">
      @Html.Recaptcha(theme:Recaptcha.Web.RecaptchaTheme.Clean) 
        </div>
    
 
      
    

    
    
    
    
        <div class="editor-label"> 
        </div>
        <div class="editor-field">
            <input type="submit" value="Create" class="btnDefault"  />
            @Html.ActionLink("Back to List", "Index",null,  new { @class="btnDefault"})
        </div> 
 
}
     </div>
  <!-- /#page-webboard -->

 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<!-- ==================  CKEditor -->
<script src="~/ckeditor/ckeditor.js"></script> 
<script src="~/ckeditor_config/cke_config_Min.js"></script> 

 <!-- ===============  CKEditor Config   -->
     <script>
         $(function () {
             CKEDITOR.replace('ckeditor', cke_config_min);
         });
   </script> 
}
