﻿@model MVC442.Models.WebboardQuiz

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WebboardQuiz</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizId)
            @Html.ValidationMessageFor(model => model.QuizId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizTopic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizTopic)
            @Html.ValidationMessageFor(model => model.QuizTopic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizMessage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizMessage)
            @Html.ValidationMessageFor(model => model.QuizMessage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizName)
            @Html.ValidationMessageFor(model => model.QuizName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizEmail)
            @Html.ValidationMessageFor(model => model.QuizEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizDate)
            @Html.ValidationMessageFor(model => model.QuizDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizView)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizView)
            @Html.ValidationMessageFor(model => model.QuizView)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizReply)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizReply)
            @Html.ValidationMessageFor(model => model.QuizReply)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizPin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizPin)
            @Html.ValidationMessageFor(model => model.QuizPin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizIp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizIp)
            @Html.ValidationMessageFor(model => model.QuizIp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuizCat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuizCat)
            @Html.ValidationMessageFor(model => model.QuizCat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Spare1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Spare1)
            @Html.ValidationMessageFor(model => model.Spare1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Spare2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Spare2)
            @Html.ValidationMessageFor(model => model.Spare2)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
