﻿@model IEnumerable<MVC442.Models.WebboardQuiz>

@{
    ViewBag.Title = "Webboard";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
}

<h2>Webboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizTopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spare1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spare2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuizId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizTopic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizReply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spare1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spare2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {   id=item.QuizId }) |
            @Html.ActionLink("Details", "Details", new {    id=item.QuizId   }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.QuizId })
        </td>
    </tr>
}

</table>
