﻿@model MVC442.Models.ViewModel.SlideManageVM

@{
    Layout = null;
}

<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>
<!-- ==================   CKFinder Config    -->
<script>
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
        finder.selectActionFunction = SetFileField;
        finder.popup();

        ///========   It can also be done in a single line, calling the "static"
        // popup( basePath, width, height, selectFunction ) function:
        // CKFinder.popup( '../', null, null, SetFileField ) ;

        ///========  The "popup" function can also accept an object as the only argument.
        // CKFinder.popup( { basePath : '../', selectActionFunction : SetFileField } ) ;
    }

    function SetFileField(fileUrl) {
        document.getElementById('xFilePath').value = fileUrl;
    }
</script>



<div class="editor-label">
    @Html.LabelFor(model => model.SlideName)
</div>

<div class="editor-field">
    @*
        <input id="xFilePath" name="FilePath" type="text" size="60" />
        <input type="button" value="Browse Server" onclick="BrowseServer();" />
    *@

    @Html.TextBoxFor(model => model.SlideName, new { @id = "xFilePath", onclick = "BrowseServer();" })
    @Html.ValidationMessageFor(model => model.SlideName)
</div>
