﻿@model MVC442.Models.ViewModel.WebLinkLiveScoreVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Create";
    string conType = Request.QueryString["type"];
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
     @Html.HiddenFor(model => model.ConType) 
    
    
@*
<div class="editor-label">
@Html.LabelFor(model => model.ConType) :
</div>
<div class="editor-field"> 
<label>@Html.RadioButton("ConType", "1"  , true ) WatchFootballOnline</label>
<label>@Html.RadioButton("ConType", "2"   ) CasinoOnline</label> 
<label>@Html.RadioButton("ConType", "3"   ) OtherSportReport</label> 
</div>
*@
    
    
        <div class="editor-label">
            @Html.LabelFor(model => model.WebName) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebName)
            @Html.ValidationMessageFor(model => model.WebName)
        </div>
    
    

        <div class="editor-label">
            @Html.LabelFor(model => model.WebLink) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLink)
            @Html.ValidationMessageFor(model => model.WebLink)
        </div>
     
        <div class="editor-label"> 
        </div>
        <div class="editor-field">
        <input type="submit" value="Create"   class="btnDefault" />
        @Html.ActionLink("Back to List", "Index" ,  new { type = conType }  , new {@class="btnDefault"  } )
        </div>
    
}

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
