﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/442Styles/bootstrap.min.css" rel="stylesheet" />
    <!-- ////// Script MVC4  //// -->
    <script src="~/Scripts/jquery-1.10.2.js"></script> 
    <script src="~/Scripts/bootstrap.js"></script> 

    <!-- ////// malot-datetimepicker-master  ////// -->
    <link href="~/Scripts/442Scripts/malot-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/442Scripts/malot-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/442Scripts/malot-datetimepicker-master/js/locales/bootstrap-datetimepicker.th.js"></script>

    <script>

        $(function () {
            //// Show  DateTime  
            $("input[class*='DateTimePicker1']").datetimepicker({
                        language: 'th',
                        format: "mm/dd/yyyy hh:ii", // If not validate  format "mm/dd/yyyy hh:ii"  will can't  Submit  on  Chrome Browser
                        autoclose: true,
                        todayBtn: true,
                        todayHighlight: true,
                         // startDate: '-2m',  // Set  today date  use     startDate: new Date
                        //  endDate: '+2d' ,
                        //  showMeridian: true, // Show AM PM   Not support Thai Language
                        pickerPosition: "bottom-left" ,
                   /*
                 //\\\\  The view that the datetimepicker should show when it is opened. Accepts values of :
                 0 or 'hour' for the hour view
                 1 or 'day' for the day view
                 2 or 'month' for month view
                 3 or 'year' for the 12-month overview
                 4 or 'decade' for the 10-year overview. Useful for date-of-birth datetimepickers.
                 */
                  //  startView: xxx  , // Set start View
                 // minView: xxx ,  // Default: 0, "days"
                 // maxView: xxx   // Default: 4, "years"
           });

            //// Show  Date  Only
                        $("input[class*='DateTimePicker2']").datetimepicker({
                             language: 'th',
                           format: "mm/dd/yyyy",
                            //    format: 'dd-mm-yyyy HH:ii p',
                             startDate: new Date,

                            autoclose: true,
                            todayBtn: true ,
                            minView: 2 // Default: 0, "days"    // Wich view less then  2 will not show
                        });

            //// Show Time Only
                        $("input[class*='DateTimePicker3']").datetimepicker({
                             format: "hh:ii",
                            autoclose: true,
                           //showMeridian: true,
                            startView: 1,   // Set Start View
                            maxView: 1    // Wich view more  then  1 will not show
                        });
  });
    </script>





    @RenderBody() 