﻿@model MVC442.Models.ViewModel.SlideManageVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/TestDateTimePickerBootstap3Malot/_LayoutDateTimePickerBootstap3Malot.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SlideManage</h4>

        <div class="editor-label">
            @Html.LabelFor(model => model.SlideDateShow)
        </div>
        <div class="editor-field">  
            @Html.EditorFor(model => model.SlideDateShow, new {
           htmlAttributes = new {
               @class= "DateTimePicker1",
               @placeholder = "Place Select  DateTime "
           }
       })
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.SlideDateHide)
        </div>
        <div class="editor-field">  
            @Html.EditorFor(model => model.SlideDateHide, new {
           htmlAttributes = new {
               @class = "DateTimePicker3",
               @placeholder = "Place Select  DateTime "
           }
            })
        </div>
         


        <div class="editor-label"></div>
        <div class="editor-field">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btnDefault" })
            <input type="submit" value="Save" class="btnDefault" />
        </div>  

    </div>
}

 