﻿@using MVC442.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout442Login.cshtml";
    // Layout = "~/Views/Shared/_Layout442Backend1.cshtml";

    ViewBag.Title = "Log in";

}

 
<div class="row" >
    <div class=" col-sm-10  contentBgRed   center-block"  style="float:none">


        <h2 class="text-center ">@ViewBag.Title.</h2>
        <h4 class="text-center " >Use a local account to log in.</h4>


        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <input type="submit" value="Log in" class="btn btn-default" />
                @Html.ActionLink("Register", "Register", new { ReturnUrl = ViewBag.ReturnUrl },
                       new { @Class = "btn btn-defaul btn-decorationClear", }
                       )
            </div>
        </div>
        @*
            <p>
            @Html.ActionLink("Register as a new user", "Register")
            </p>
            Enable this once you have account confirmation enabled for password reset functionality
            <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        *@
            }
        </section>

    </div>

</div><!-- /.row -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}