﻿@using MVC442.Helper.UT
@model MVC442.Models.ViewModel.SlideManageVM

@{
    Layout = null;
}

<!-- ///// Script Get Time Zone ( display dates and times in clients timezone )
    // 1. Add Action OnActionExecuting  to  BaseController  & Inherite ( For check  Cookies.AllKeys.Contains("timezoneoffset"))
    // 2. Add jquery-cookie-plugin.js & timeZoneCookieCreate.js
    // 3. Get  Utillity.SetLocalTimeZone() &   Utillity.SetServerTimeZone()   
 --> 
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/442Scripts/timeZone/jquery-cookie-plugin.js"></script>
<script src="~/Scripts/442Scripts/timeZone/timeZoneCookieCreate.js"></script>
 

@{ 
    <p>DateTime Thai : @DateTime.Now</p> 
    <p>TimeZone Offset : @Session["timezoneoffset"] </p>

    var serverTimeZone = Utillity.SetServerTimeZone(DateTime.Now);
    //var localTimeZone = Utillity.SetLocalTimeZone(DateTime.Now);

    <p>DateTime UK (ServerTime) : @serverTimeZone </p>
   // <p>localTimeZone : @localTimeZone </p> 
     
} 

<hr />
@Html.EditorFor(model => model.SlideInputDate)
