﻿@model MVC442.Models.ViewModel.ClientMessageVM
@{
   
    Layout = "~/Views/Shared/_Layout442Blank.cshtml";

}

  <!--///// CSS Custom ///// -->
<link href="../css/reset.css" rel="stylesheet" />
<link href="../css/fontface.css" rel="stylesheet" />
<link href="../css/layoutBasic.css" rel="stylesheet" />


<!--///// Bootstrap UI  ///// -->
<link href="../bootstrap/bootstrap.css" rel="stylesheet" />
<link href="../bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<script src="../bootstrap/bootstrap.js"></script>


 <div id=" page-online-insCar-Detail " class="row">

    <div class="col-sm-12">
        <h4 class="col-md-12">
            1. กรุณาระบุหมายเลขโทรศัพท์   เพื่อรับรหัสผ่านแบบใช้ครั้งเดียว
        </h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="Message">หมายเลขโทรศัพท์ :</label>

            <div class="col-md-10">
                <asp:TextBox ID="txtTelephoneNo" runat="server" CssClass="form-control text-box single-line"></asp:TextBox>

            </div>
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="col-md-10">
                <asp:Button ID="btnSMS" runat="server" Text="รับรหัสผ่าน" onclick="btnSMS_Click" OnClientClick="return validateSMSForm();" class="btn btn-default" />
            </div>
        </div><!-- /.form-group -->

        <div class="clearfix"></div>

        <h4 class="col-md-12">
            2. กรุณาใส่รหัสผ่านที่ได้รับทาง SMS ในช่องว่างด้านล่าง
            และกดตกลงภายใน 15 นาที
        </h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="Message">รหัสผ่าน :</label>

            <div class="col-md-10">
                <asp:TextBox ID="txtOTP" runat="server" CssClass="form-control text-box single-line"></asp:TextBox>

            </div>
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="col-md-10">
                <asp:Button ID="btnSave" runat="server" Text="ตกลง"
                            onclick="btnSave_Click" OnClientClick="return validateForm();" CssClass="btn btn-default" Style="margin-right: 10px;" />
                <asp:Button ID="btnCancel" runat="server" Text="ยกเลิก" OnClientClick="window.location = 'CLogin.aspx'" CssClass=" btn btn-default" />
            </div>
        </div><!-- /.form-group -->



    </div> <!-- /.col-sm-12 -->
</div> <!-- /.row -->
