﻿@using PagedList;
@using PagedList.Mvc;

@model MVC442.Models.ViewModel.WebLinkCasinoCriteria 

<table>  
       <td>@Html.DisplayNameFor(model => model.IdCon  )</td>
     <td>@Html.DisplayNameFor(model => model.IdCasinoCat)</td> 
      <td>@Html.DisplayNameFor(model => model.WebName)</td>
        <td>@Html.DisplayNameFor(model => model.Description)</td> 

@foreach (var item in Model.WebLinkCasinoVMList ) {   
    <tr> 
        <td>@Html.DisplayFor(modelItem => item.IdCon)</td> 
          <td>@Html.DisplayFor(modelItem => item.IdCasinoCat)</td>  
        <td>@Html.DisplayFor(modelItem => item.WebName)</td>    
        <td>@Html.DisplayFor(modelItem => item.Description)</td> 
    </tr> 
}

</table>

 
@Html.PagedListPager(Model.WebLinkCasinoVMList ,page=> Url.Action("IndexSearch",new RouteValueDictionary
{
    {"Page",page},
    {"WebName",Model.WebName}, // Add RouteValue For Rember FilterParamiter  
    {"Description",Model.Description},  // Add RouteValue For Rember FilterParamiter  
    {"IdCasinoCatSelected",Model.IdCasinoCatSelected}  // Add RouteValue For Rember FilterParamiter  
}),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions{ UpdateTargetId="resultTarget"}))