﻿@*////// Add PageList//////// *@
@using PagedList  
@using MVC442.Helper.BL 
@*@using PagedList.Mvc*@  

@model IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM> 
 
@{
Layout = "~/Views/Shared/_Layout442-Backend1.cshtml"; 
int reqCat  =  Convert.ToInt32( Request.QueryString["cat"] ) ;
int reqType = Convert.ToInt32(Request.QueryString["type"]);
 
}

<style>
.dataList td:nth-child(1) { width: 3%;  }
.dataList td:nth-child(2) { text-align: left; }
.dataList td:nth-child(3) { text-align: left;  }
.dataList td:nth-child(4) { text-align: left; width: 8%;  }
.dataList td:nth-child(5) { text-align: left; width: 13%;   }
 
  
    .single-line {
        width: 280px; 
    }
    .multi-line {
          width: 280px; 
    }
</style>

<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost 
    function SuccessMessage() {
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    } 
</script>

  
@{
   string typeName  =  (reqCat <= 3)?"Sport Online -" : "Casino Online -"; 
   string catName =  new CategoryManage().GetCatName(reqCat); 
    <h2>@typeName @catName</h2><br />
    
}
 
<p>
    @Html.ActionLink("สร้างใหม่", "Create", new {type= reqType , cat = reqCat } , new { @class = "btnDefault" })
</p>

 
<table  class="dataList">
<tr> 
<th> 
ลำดับ
</th>
            
@*<th> 
@Html.DisplayNameFor(model  => model.CatNameThShow)
</th>*@
 
<th> 
@Html.DisplayNameFor(model => model.WebName)
</th>
   
<th>
@Html.DisplayNameFor(model => model.WebLink)
</th> 

<th>
@Html.DisplayNameFor(model => model.InputDate)
</th>

 
         
<th> จัดการ </th>

</tr> 
 @{   
int counter = 0;     
foreach (var item in Model) {
    counter++;

    using (Html.BeginForm("GameListEdit", "WebLinkCasino", new { id = item.IdCon, type = reqType, cat = reqCat })) {       
            
<tr>  
<td>
@counter
@Html.HiddenFor(modelItem => item.IdCon ) 
@Html.HiddenFor(modelItem => item.ConType) 
@Html.HiddenFor(modelItem => item.IdCasinoCat) 
</td> 
@*<td>
@Html.DisplayFor(modelItem => item.CatNameThShow) 
</td> *@

<td> 
@Html.EditorFor(modelItem => item.WebName   ) 
</td>
 
<td>  
@Html.EditorFor(modelItem => item.WebLink    )  
</td>
 
<td>
@Html.DisplayFor(modelItem => item.InputDateDisplay)
</td> 

 <td>    
     <input type="submit" value="แก้ไข" class="btnDefault" />

     @Html.ActionLink("เปิดดู", "Edit", new { id=item.IdCon   }   ,  new {@class="btnDefault"   }  )    

      @Ajax.ActionLink("ลบ", "Delete", new { id = item.IdCon  },
       new AjaxOptions {
           HttpMethod = "POST",
           Confirm = "ยืนยันลบข้อมูล?",
           OnComplete = "deleteComplete"
       },
     new { @class = "btnDefault" }
      )  
</td> 
    
</tr>
  
        }  // end Html.BeginForm    
        
  } @*// end foreach*@   

    
}
      
</table>

 
<div style=" width:80px; padding-top: 20px; margin:0px auto;">
        @Html.ActionLink("< ย้อนกลับ", "index", new { type = reqType },
        new { @class = "btnDefault" })    
</div>
 

<script >
    /////// reload after delete by Ajax
   function deleteComplete() {
            window.location.reload();
   }
 
</script>

 