﻿@model IEnumerable<MVC442.Models.ViewModel.BankWebLinkVM> 

<script>
    $(function () {

    // Optimalisation: Store the references outside the event handler:
    var $window = $(window);
    var $bankDepositeCol = $('.bankDepositeCol');

    function checkWidth() {
        var windowsize = $window.width(); 
            if (windowsize < 320) {    
                $bankDepositeCol.removeClassPrefix('col-xs');
                $bankDepositeCol.addClass("col-xs-4");
            } else if (windowsize < 480) {
                $bankDepositeCol.removeClassPrefix('col-xs');
                $bankDepositeCol.addClass("col-xs-4");
            } else if (windowsize < 530) {
                $bankDepositeCol.removeClassPrefix('col-xs');
                $bankDepositeCol.addClass("col-xs-3");
            } else if(windowsize < 649 )  { 
                $bankDepositeCol.removeClassPrefix('col-xs');
                $bankDepositeCol.addClass("col-xs-3");
             } else if(windowsize < 767  )  {
                 $bankDepositeCol.removeClassPrefix('col-xs');
                 $bankDepositeCol.addClass("col-xs-3");
             } else if (windowsize < 992) {
                 $bankDepositeCol.removeClassPrefix('col-xs');
                 $bankDepositeCol.addClass("col-xs-6");
             } else if (windowsize < 1278) {
                 $bankDepositeCol.removeClassPrefix('col-xs');
                 $bankDepositeCol.addClass("col-xs-6");
             } else    {  
                 $bankDepositeCol.addClass("col-sm-4");
             }
    }

    
 
    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);
});
</script>

 
        @foreach (var item in Model) {
            int count = 1;

            <div class=" bankDepositeCol text-center ">

                <div class=" bankDepositeImage ">
                    <a onclick="window.open('@Html.DisplayFor(modelItem => item.BankLink)' ,'_blank') " rel="nofollow">
                        <img src="@(@Html.DisplayFor(modelItem => item.IconPathImage))" class="img-thumbnail " />
                    </a>
                </div>
                    <div class=" bankDepositeText ">
                        <a onclick="window.open( '@Html.DisplayFor(modelItem => item.BankLink)' ,'_blank') " rel="nofollow">
                            @Html.DisplayFor(modelItem => item.BankName)
                        </a>
                    </div>
           
            </div>

            if (count % 3 == 0) {
                <div class="clearfix visible-xs"></div>

            }

            count += 1;
        }

     
