﻿<style>
#dialogRadio {  background-color: #740001; padding: 10px; border-radius: 10px; border: 4px solid #A88F33; }
#dialogRadio h1 { font-size: 25px; color:#fff ; }
#dialogRadio .logoRadio { float: left; margin-right:10px; }
</style>

<div id="dialogRadio" style="display: none;">
    <div class="buttonDialogClose"></div>
    <div id="radioChanel"> 
        <h1>ฟังบอลสด สถานีวิทยุกีฬา</h1>  
        <div class="logoRadio"> 
                <img src="~/Content/images/fontend/fm96.gif" width="70" height="60"   id="radioBtn1" /> 
        </div> 
        <div class="logoRadio"> 
                <img src="~/Content/images/fontend/fm99.gif" width="70" height="60"  id="radioBtn2" /> 
        </div>
        <!-- /.player  -->
    </div>
    <!-- /.radioChanel  -->
    <!-- #dialogRadio -->

    <div id="radioArea">
         <iframe  src=""   scrolling="NO" frameborder="0"  ></iframe> 

    </div>


    <script>
        $(function () {
            $("#radioChanel [id *=radioBtn").click(function () {
                var btnId = $(this).attr("id");
                var chanel = btnId.substr(btnId.length - 1);
                var areaRadio = $("#radioArea  iframe")  ; 
                var link = '@Url.Action("RadioChanel" , "Home")?ch=' + chanel ;
                 
               // console.log(link); 
                areaRadio.attr("src", link);
            })
             
        }); 
    </script>





