﻿    <div id="dialogLine" style="display: none;">
   <div class="buttonDialogClose"></div>  
	<div class="label1">
		Line ID: <span class="lineId">4-4-2</span>
	</div> 
	<img src="~/Content/images/fontend/qr_code.jpg" />
</div>