﻿ <style>
#modalOpenAccount { background-color: #490E0E; color: #fff; border-radius: 10px; 
border: 2px solid #A88F33; padding: 5px; }
#modalOpenAccount input[type=text]{width:200px; }
#modalOpenAccount input[type=email]{width:200px; } 
#modalOpenAccount iframe { width:510px ; height:400px;  /*border: 2px solid #A88F33;*/ } 
</style>

<div id="modalOpenAccount" style="display: none;">
<div class="buttonDialogClose" style="position: absolute; right: 0px; top: 0px;"> </div>

<!--//// This way   get  content  to iframe  by  Action in  Controller  -->
<iframe  src="@Url.Action( "OpenAccount" , "Home" , null )"   scrolling="NO" frameborder="0"  ></iframe>  

<!--//// This way   get  content  to iframe  by  Action in  Controller  -->
 @*@Html.Partial("FontEnd/_OpenAccountPartial" , ModelData )*@ 

</div><!-- /#modalOpenAccount  -->



