﻿  <div class="row">
   
        <div class="col-xs-4  col-sm-3    col-md-3  text-center">
            <a href="http://www.visa.com/globalgateway/gg_selectcountry_ng.jsp" target="_blank" rel="nofollow">  <img src="~/Content/images/fontend/creadit/creadit_01.png" class="img-thumbnail">  </a>
        </div>
        <div class="col-xs-4 col-sm-3    col-md-3  text-center">
            <a href="http://www.visa.com/globalgateway/gg_selectcountry_ng.jsp" target="_blank" rel="nofollow">  <img src="~/Content/images/fontend/creadit/creadit_02.png" class="img-thumbnail">  </a>
        </div>
        <div class="col-xs-4 col-sm-3     col-md-3 text-center ">
            <a href="http://www.mastercard.com/index.html" target="_blank" rel="nofollow">  <img src="~/Content/images/fontend/creadit/creadit_03.png" class="img-thumbnail">  </a>
        </div>
      <div class="clearfix visible-xs "></div>
        <div class="col-xs-4 col-sm-3     col-md-3  text-center">
            <a href="http://www.maestrocard.com/gateway/index.html" target="_blank" rel="nofollow">  
            <img src="~/Content/images/fontend/creadit/creadit_04.png" class="img-thumbnail" >  </a> 
        </div>

      <div class="col-xs-4  col-sm-3   col-md-3  text-center">
            <a href="http://www.citibank.co.th/global_docs/dinersclub/index.htm" target="_blank" rel="nofollow"> 
            <img src="~/Content/images/fontend/creadit/creadit_05.png" class="img-thumbnail">  </a>
        </div>
        <div class="col-xs-4  col-sm-3    col-md-3  text-center">
            <a rel="nofollow">  <img src="~/Content/images/fontend/creadit/creadit_08.png" class="img-thumbnail">  </a>
        </div> 
   
      <div class="clearfix visible-xs "></div>

        <div class="col-xs-4 col-sm-3   col-md-3    text-center">
            <a rel="nofollow">  <img src="~/Content/images/fontend/creadit/creadit_06.png" class="img-thumbnail"> </a>
        </div>
       <div class="col-xs-4 col-sm-3    col-md-3  text-center">
        <a rel="nofollow"><img src="~/Content/images/fontend/creadit/creadit_07_new.png">
        </a></div>
     
</div><!-- /.row -->
    <div class="row">
    <div class="  text-center  visible-xs-inline-block footLink"   style="color:#fff ;">  
        <a href="http://www.442.im/home">แทงบอลผ่านเน็ต</a> |
        <a href="http://www.442.im/">แทงสเต็ป</a> |
        <a href="http://www.442.im/">บาคาร่าออนไลน์</a> |
        <a href="http://www.442.im/home">Sbobet</a> |
        <a href="http://www.442.im/home">Ibcbet</a>
    </div>
</div><!-- /.row -->

@*<div class="list-group visible-xs">
    <a href="#" class="list-group-item active">
        Cras justo odio
    </a>
    <a href="#" class="list-group-item">แทงบอลผ่านเน็ต</a>
    <a href="#" class="list-group-item">แทงสเต็ป</a>
    <a href="#" class="list-group-item">บาคาร่าออนไลน์</a>
    <a href="#" class="list-group-item">Sbobet</a>
    <a href="#" class="list-group-item">Ibcbet</a>
</div>*@


<div class="row">
    <div class="col-xs-12  copyright text-center "> This site support iOS (iPhone & iPad) & Andriod Copyright © 442.im All Rights Reserved.</div>

</div><!-- /.row -->
 

