﻿@{
    ViewBag.Title = "_HeadCallCenterPatial";
}
 

<div class="row  cstNoPadding" >
        @*
            <a href="https://twitter.com/442im" target="_blank"> <img src="~/Images/fontend/socail/socail_02.png" width="32" height="32"></a>
            <a href="https://plus.google.com/u/0/107840801575774500136/" target="_blank"> <img src="~/Images/fontend/socail/socail_03.png" width="32" height="32"></a>
        *@

        <a href="#" class="btn  btn-default btn-sm" title="Member" data-toggle="modal" data-target="#myModalOtpLogin">
            <span class="glyphicon glyphicon-user "></span> Login
        </a>

        <a href="#" class="btn  btn-default btn-sm" title="Member" data-toggle="modal" data-target="#myModalLiveChat">
            <span class="glyphicon glyphicon-comment"></span>
            LiveChat
        </a>

        @*<a href="#" title="Member" data-toggle="modal" data-target="#myModal"  >
        <img src="~/Content/Images/fontend/btn-MemberLogin-xs.png"  />
        </a>

        <a href="#" title="Live Chat" id="openDialogLiveChat1">
        <img src="~/Content/Images/fontend/btn-LiveChat-xs.png" />
        </a>*@

        <a href="#" id="openDialogLine" title="Line">
            <img src="~/Content/Images/fontend/socail/socail_line.png" class="img-thumbnail " />
        </a>

        <a href="http://www.youtube.com/user/442im?feature=mhee" target="_blank">
            <img src="~/Content/Images/fontend/socail/socail_04.png"  class="img-thumbnail ">
        </a>

        <a href="https://www.facebook.com/pages/fourfourtwoim/529344200508203?ref=hl" target="_blank">
            <img src="~/Content/Images/fontend/socail/socail_01.png"  class="img-thumbnail "/>
        </a>


        @*<span class="fb-like" data-href="https://www.facebook.com/pages/fourfourtwoim/529344200508203" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"> </span>*@
 
    
         </div> <!-- //.row -->



