﻿@model  IEnumerable<MVC442.Models.ViewModel.WebLinkLiveScoreVM>  

 @{ 
   //  Layout = null ; 
 }
 
<script>
    $(function () { 
    // Optimalisation: Store the references outside the event handler:
    var $window = $(window);
    var $liveScoreCol = $('.liveScoreCol');

    function checkWidth() {
        var windowsize = $window.width();
            if (windowsize < 320) {
                $liveScoreCol.removeClassPrefix('col-xs');
                $liveScoreCol.addClass("col-xs-12");
            } else if (windowsize < 480) {
                $liveScoreCol.removeClassPrefix('col-xs');
                $liveScoreCol.addClass("col-xs-12");
            } else if (windowsize < 530) {
                $liveScoreCol.removeClassPrefix('col-xs');
                $liveScoreCol.addClass("col-xs-6");
            } else if(windowsize < 649 )  {
                $liveScoreCol.removeClassPrefix('col-xs');
                $liveScoreCol.addClass("col-xs-6");
             } else if(windowsize < 767  )  {
                 $liveScoreCol.removeClassPrefix('col-xs');
                 $liveScoreCol.addClass("col-xs-6");
             } else {
                 $liveScoreCol.removeClassPrefix('col-xs');
                 $liveScoreCol.addClass("col-xs-12");
             }
    }
         
    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);
});
</script>
 
 

    @foreach (var item in Model) {

        <div class="liveScoreCol  ">
            <div class="col-xs-3  text-center  ">
                <img src="~/Content/Images/fontend/responsive/icon_live-rsp.gif" class="" />
            </div>
           
            <div class="col-xs-9 liveScoreLink   ">
                <a href="@item.WebLink" target="_blank">   @item.WebName    </a>
            </div>
        </div>

    <div class="visible-block-md"></div>

    }
 
 