﻿ 
@*//////////////////  Livescore  *@
 


<div class="liveScore-outer  liveScoreRow">
    <h3> LIVE SCORE</h3>

    <div class="col-xs-12 col-sm-4">
        <div class="title1">Watch football online </div>
        <h4 class="title2"> เว็บบอล ดูบอลออนไลน์ ผลบอลทุกลีก</h4>
        @Html.Action("LiveScoreLinkPartial", "Home", new { contype = 1 })
    </div>
     
    <div class="col-xs-12 col-sm-4">
        <div class="title1">Score football report</div>
        <h4 class="title2">รายงานผลบอล  ทุกคู่ทุกลีกดัง</h4>
        @Html.Action("LiveScoreLinkPartial", "Home", new { contype = 2 })
    </div>
     
    <div class="col-xs-12 col-sm-4">
        <div class="title1"> Other sport report </div>
        <h4 class="title2">รายงานผลบอลสด</h4>
        @Html.Action("LiveScoreLinkPartial", "Home", new { contype = 3 })
    </div><!---end  class="col" ---->



</div>