﻿ 

@*//=========== Bootstap Menu  ===========*@
 
    <ul class="nav navbar-nav cst-navFontEnd">
        <li>@Html.ActionLink("หน้าหลัก", "Index", "Home", null, new { title = "Home" })</li>
        <li>@Html.ActionLink("วิธีร่วมสนุก", "Join", "Home", null, new { title = "Join" })</li>
        <li>@Html.ActionLink("ฝาก-ถอนเงิน", "Deposit", "home", null, new { title = "Deposit" })</li>
        <li>@Html.ActionLink("เปิดบัญชี", null, null, new { title = "Open Account", id = "btnOpenAccount1" }) </li>
      @*  <li>@Html.ActionLink("เวบบอร์ด", null, null, new { title = "webboard" }) </li>*@ 
        <li>@Html.ActionLink("ดาวน์โหลดโปรแกรม", "Download", null, new { title = "Download Program" }) </li>  
        <li class="dropdown">            
            <a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" href="#">ตารางแข่ง & ผลคะแนน<b class="caret"></b></a>
            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li>@Html.ActionLink("ตารางแข่ง", "Matchfootball", null, new { title = "Matches Football" }) </li>
                <li>@Html.ActionLink("ผลการแข่งรวม", "Scorefootball", null, new { title = "Scores Football" }) </li>
                <li>@Html.ActionLink("ตารางคะแนนลีก", "TableScorefootball", null, new { title = "Table Scores Football" }) </li>
                <li>@Html.ActionLink("ดูบอลออนไลน์", "Onlinefootball", null, new { title = "Online Football" }) </li>
            </ul> 
        </li>

        <li>@Html.ActionLink("ผลคะแนนสด", "Livefootball", null, new { title = "Live Scores " }) </li>
        <li>@Html.ActionLink("ติดต่อเรา", "Contact", new { idCat = 1 }, new { title = "Contact" }) </li>
        @*<li>@Html.ActionLink("ลีอคอิน","Index" , "Adminweb", null , new { title ="Admin"}  )</li>
<li>@Html.ActionLink("แอดมิน","Index" , "ClientMessageEmail", null , new { title ="Admin"}  )</li>*@ 

    </ul>

 
 

 