﻿@using  MVC442.Helper.UT 
 <script>
    $(function () {

    // Optimalisation: Store the references outside the event handler:
    var $window = $(window);
    var $btnSidebar = $('.btnSidebar');

    function checkWidth() {
        var windowsize = $window.width();
            if (windowsize < 480) {
                $btnSidebar.removeClassPrefix('col-xs');
                $btnSidebar.addClass("col-xs-12");
            } else if (windowsize < 530) {
                $btnSidebar.removeClassPrefix('col-xs');
                $btnSidebar.addClass("col-xs-12  ");
            } else if(windowsize < 649 )  {
                $btnSidebar.removeClassPrefix('col-xs');
                $btnSidebar.addClass("col-xs-6");
             } else if(windowsize < 768  )  {
                 $btnSidebar.removeClassPrefix('col-xs');
                 $btnSidebar.addClass("col-xs-6");
             } else    {
                 $btnSidebar.addClass("col-sm-12");
             }
        }

    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);
});
</script>


  @*  <div class="row">
    <div class="col-xs-12 col-sm-12 "> sectionOTP
         <h2>Member Login</h2>
         <input type="text" id="telnoOTP" style="width:130px;" placeholder="เบอร์โทรศัพท์">
         <input type="button" value="GO" id="openDialogOTP" style="width:30px;background-color:#460202; color:#fff ;border:none; padding: 3px 0px; ">
     </div>*@
        
 
<!--//// Section  Btn Download TeamViewer  -->
<div class=" col-xs-12 col-sm-12 ">
    <div class=" btnSidebar text-center hidden-xs">
        <a href="~/download/TeamViewerQS_th2.zip">
            <img src="~/Content/Images/fontend/responsive/btnTheamView-sm.jpg" title="ดาวโหลดโปรแกรม TeamViewer QuickSupport" class=" img-thumbnail ctsRadius ">
        </a>
    </div>
    <div class=" btnSidebar ">
        <a href="~/download/TeamViewerQS_th2.zip">
            <img src="~/Content/Images/fontend/responsive/btnTheamView-xs.jpg" class="img-thumbnail ctsRadius visible-block-xs hidden-sm hidden-md hidden-lg " />
        </a>
    </div>

    <!--//// Section  Btn Download TorBrowser  -->
    <div class=" btnSidebar text-center hidden-xs ">
        <a href="~/download/torbrowser-install.zip">
            <img src="~/Content/Images/fontend/responsive/btnTorBrowser-sm.jpg" title="ดาวโหลดโปรแกรม Tor Browser" class=" img-thumbnail ctsRadius ">
        </a>
    </div>

    <div class=" btnSidebar ">
        <a href="~/download/torbrowser-install.zip">
            <img src="~/Content/Images/fontend/responsive/btnTorBrowser-xs.jpg" class=" img-thumbnail ctsRadius visible-block-xs hidden-sm hidden-md hidden-lg " />
        </a>
    </div>

    <div id="openDialogRadio  " class=" btnSidebar text-center hidden-xs">
        <img src="~/Content/Images/fontend/btn-radio.jpg" class=" ctsRadius img-thumbnail " />
    </div>

    <div   class=" btnSidebar text-center hidden-xs"> 
        <a class="inline cboxElement" href="#inline_content" data-toggle="modal" data-target="#myModalOtpLogin">
            <img src="~/Content/Images/fontend/btn-join_now.gif" class=" img-thumbnail " style="margin:0px auto;" />
        </a>
    </div>

  
</div>


    <!--//// Section  Add   Telphone  Number  -->
    @*<div class="callcenter">
        @using (Html.BeginForm("create", "ClientMessageTel", FormMethod.Post)) {

        <div class="phone-register">
        <div style="margin-top: 60px; margin-left: 15px">
        <input type="text" name="PhoneNumber" id="PhoneNumber" style="width: 100px">
        <input type="submit" name="btnSend" id="btnSend" value="ยืนยัน" class="btnDefault">
        </div>
        </div>
        }
        </div>*@


    <!--////  Section Bank Deposit -->
    <div class=" col-xs-12 col-sm-12 bankDeposite img-rounded " style="padding:5px;">

        <h3 class="bankDepositeText1 ">บริการฝาก-ถอน 24 ชม.</h3>
        <h4 class="bankDepositeText2 ">ไม่ต้องรอรอบ ไม่มีขั้นต่ำฝาก-ถอน </h4>

        @*//// Check Firefox (Tor Browser)   &  Is Mobile  Device *@
        @if (Utillity.IsBrowserFirefox() == true) {
            @Html.Action("BankLinkPatial", "Home", new { typeDevice = true })   // html5
        } else {
            if (Utillity.IsMobileDevice() == true) {
                @Html.Action("BankLinkPatial", "Home", new { typeDevice = true })   // html5
            } else {
                @Html.Action("BankLinkPatial", "Home", new { typeDevice = false }) // flash
            }
        }

    </div><!-- /.bankDepositeRow -->
    <!--////  Section Side Banner   -->
    @*<div class="demo-wrap2  col-xs-12  col-sm-12   col-md-10    center-block  ">
            <ul id="bxslider2" style="height: 200px;">
                <li class="text-center">

                    <img src="~/Content/images/fontend/banner/442bb_side_001.gif" class="img-thumbnail " title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์">
                </li>
                <li class="text-center">
                    <img src="~/Content/images/fontend/banner/442bb_side_002.gif" class="img-thumbnail" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo">
                </li>

            </ul>
        </div>*@



    <!--//// Facebook Like Box  -->
    @*<div class="demo-wrap2  col-xs-12  col-sm-12   col-md-10    center-block  ">
            <div style="background-color: #fff;" class="fb-like-box  text-center" data-href="https://www.facebook.com/pages/fourfourtwoim/529344200508203?ref=hl" data-width="194" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
        </div>*@



    <!--//// Section Histats  -->
    @*<div  class="histats"> </div>*@
