﻿@model  IEnumerable< MVC442.Models.ViewModel.BaseVM > 
 @using MVC442.Models.ViewModel 

<script>
    $(function () {  
        var $window = $(window);
        var $casinoCol = $('.casinoCol');

        function checkWidth() {
            var windowsize = $window.width();
            if (windowsize < 480) {
                $casinoCol.removeClassPrefix('col-xs');
                $casinoCol.addClass("col-xs-6");
            } else if (windowsize < 530) {
                $casinoCol.removeClassPrefix('col-xs');
                $casinoCol.addClass("col-xs-6");
            } else if (windowsize < 530) {
                $casinoCol.removeClassPrefix('col-xs');
                $casinoCol.addClass("col-xs-4");
            } else if (windowsize < 649) {
                $casinoCol.removeClassPrefix('col-xs');
                $casinoCol.addClass("col-xs-4");
            } else if (windowsize < 769) {
                $casinoCol.removeClassPrefix('col-xs');
                $casinoCol.addClass("col-xs-4");
            } else {
                $casinoCol.addClass("col-xs-4");
            }
        }

        // Execute on load
        checkWidth();
        // Bind event listener
        $(window).resize(checkWidth);
}); 
</script>

 

 <div class="row cstNoPadding  casinoRow">

    @{//\\\\ Save response time query data from database   by use arrayVarible 
        var typeCon = ViewBag.type;
        int[] arr1 = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 };
        string[] arr2 = { "SBOBET", "IBCBET", "SB1888", "Holiday-Palace", "G-Club", "Red Dragon", "855Crown", "Royal 1688", "Genting Crown", "Royal Online Entertainment", "SBO Casino & Game" };



        if (typeCon == 1) { // Type 1  = SportOnline

           
            BaseVM.ListCasino  listCasino  =  new  BaseVM.ListCasino();
            Type obj = listCasino.GetType();
            // var  objProperty = obj.GetProperties();
            var objProperty = obj.GetMembers();

            @*foreach (var prop in objProperty) {
                // Console.WriteLine("{0}={1}", prop.Name , prop.GetValue(listCasino, null));
                <h1>@(prop.) </h1>

            }*@

                listCasinos
    foreach (var item in listCasinos) {
        // Console.WriteLine("{0}={1}", prop.Name , prop.GetValue(listCasino, null));
                <h1>@(prop.) </h1>

            }

                for (var i = 0; i <= 2; i++) {

                <div class=" text-center casinoCol">
                    <a href="@Url.Action("SportOnline" , "Home" , new { type = typeCon, idCat = arr1[i]  }  )" class="casinoLogo img-thumbnail">
                        <img src="~/Content/Images/fontend/logoCasino-md/logo-casino@(arr1[i]).jpg" class=" img-thumbnail" />
                    </a> 
                    <div class="casinoName">@(arr2[i])</div>
                    <div class="casinoLink "> » @Html.ActionLink("GO NOW", "SportOnline", "Home", new { type = typeCon, idCat = arr1[i] }, null)</div>
                </div>
            }//end for


        } else {// Type 2  = CasinoOnline

            for (var i = 3; i <= 10; i++) {

                <div class="text-center casinoCol  ">
                    <a href="@Url.Action("SportOnline" , "Home" , new { type = typeCon, idCat = arr1[i] }  )" class="casinoLogo  img-thumbnail">
                        <img src="~/Content/Images/fontend/logoCasino-md/logo-casino@(arr1[i]).jpg" class=" img-thumbnail" />
                    </a>

                    <div class="casinoName">@(arr2[i])</div>
                    <div class="casinoLink"> » @Html.ActionLink("GO NOW", "CasinoOnline", "Home", new { type = typeCon, idCat = arr1[i] }, null)</div>
                </div>

                if (i % 2 == 0) {
                @*<div class="clearfix visible-xs"></div>*@
            }

        }//end for

    }

}
 
</div> <!-- /.row --> 