﻿@using  MVC442.Models.ViewModel 
@model  ClientRegisterVM
 
@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Create";
}
<h2>ClientRegister - Create</h2> 
 
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
        <div class="editor-label">
            @Html.LabelFor(model => model.IdClientRegister , "ประเภทบริการ(Override ชื่อจาก HtmlHelper)") :
        </div>
        <div class="editor-field"> 
                              
            @*////// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] ) ////////*@
            @Html.Action("CasinoCatsPartial", "Base", new { DdlIdName = "customIdName", IdCasinoCat = Model.IdCasinoCatSelected, type = string.Empty })
            @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)
            

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GetSms) :
        </div>
        <div class="editor-field">  
             @Html.CheckBoxFor(model =>model.GetSms )
            @Html.ValidationMessageFor(model => model.GetSms) 
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GetNews) :
        </div>
        <div class="editor-field"> 
            @Html.CheckBoxFor(model => model.GetNews)
            @Html.ValidationMessageFor(model => model.GetNews)
        </div>
        <div class="editor-label">
        </div>
    
    
        <div class="editor-field">
           <input type="submit" value="Create" class="btnDefault" />
 @Html.ActionLink("Back to List", "Index" , null ,new{ @class="btnDefault"} )
        </div> 
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 