﻿@model MVC442.Models.ClientRegister

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Delete";
}

<h2>ClientMessageRegister - Delete</h2>

<p>คุณยืนยันที่จะลบ ?</p>
 

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdClientRegister)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdClientRegister)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasinoCat.CatNameTh)  
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GetSms)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GetSms)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GetNews)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GetNews)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>



 @using (Html.BeginForm()) {
       <div class="display-label"> 
    </div>
    <div class="display-field">
    <input type="submit" value="ลบ" class="btnDefault"   /> 
        @Html.ActionLink("ยกเลิก", "Index" , null , new { @class="btnDefault" })
     </div>
}
