﻿@model MVC442.Models.ViewModel.ClientRegisterVM 

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Details";
}

<h2>ClientMessageRegister - Details</h2>
 <div class="dataView">
 
 
    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdClientRegister) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdClientRegister)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCat) :
    </div>
    <div class="display-field">
        @*//\\\\\\\\\\   Ex - Get value to  list   By   Linq2SQL  & Join Table
        //\\\\\\\\\\    Get Name CatNameTh  by ForionKey Table CasinoCat
        @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
        *@
        @Html.DisplayFor(model => model.CatNameThShow )  @*  Get Name cat from    db.ClientRegisters.Find(id)   *@
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel1) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GetSms) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GetSms)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GetNews) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GetNews)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate ) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDateDisplay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>

       <div class="display-label">
         
    </div>

    <div class="display-field">    
    @Html.ActionLink("ย้อนกลับ", "Index" , null , new { @class="btnDefault" }  )
    </div>
    

 
