﻿@*////// Add PageList//////// *@
@using PagedList  
@*@using PagedList.Mvc*@  
 
 
    @model  IPagedList<MVC442.Models.ViewModel.ClientRegisterVM>
  

    @{
        Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
        ViewBag.Title = "Index";
    }


 

<style>
.dataList td:nth-child(1) { width: 3%; }
.dataList td:nth-child(2) { width: 10%; }
[class*=dataList] td:nth-child(3) { width: 20%; text-align: left; }
.dataList td:nth-child(4) { width: 10%; }
.dataList td:nth-child(5) { width: 10%; }
.dataList td:nth-child(6) { width: 10%; }
.dataList td:nth-child(7) { width: 10%; }
.dataList td:nth-child(8) { width: 10%; }
.dataList td:nth-child(9) { width: 10%; }
</style>


    <h2>ClientRegister -List</h2>

    <table class="dataList">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdClientRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdCasinoCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Tel1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().InputDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Ip)
            </th>
            <th>จัดการ</th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClientRegister)
                </td>
                <td>
                    @*//\\\\\\\\\\   Ex - Get value to  list   By   Linq2SQL  & Join Table
                    //\\\\\\\\\\    Get Name CatNameTh  by ForionKey Table CasinoCat
                    @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
                    *@ 
                    @Html.DisplayFor(modelItem => item.CatNameThShow)     
            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InputDate)  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>

                @Html.ActionLink("ดูข้อมูล", "Details", new { id = item.IdClientRegister }, new { @class = "btnDefault" })
            
                   @Ajax.ActionLink("ลบ", "Delete", new { id=item.IdClientRegister  } , new AjaxOptions  {
                                                                        HttpMethod = "POST",
                                                                        Confirm = "ยืนยันลบข้อมูล?",
                                                                        OnComplete = "deleteComplete"  
                                                                         } ,  
                                                                         
                                                                   new { @class="btnDefault" }        
                                                                         )  
            </td>
        </tr>
    }

</table>

<script >
   function deleteComplete() {
            window.location.reload();
 }
</script>


<!-- Start show PagedList -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )
Of @Model.PageCount

@if (Model.HasPreviousPage) {
    @Html.ActionLink("<<", "Index", new { page = 1} ) 
    @Html.Raw(" ");
    @Html.ActionLink("< Prev", "Index", new{page = Model.PageNumber-1 } )

}else{
  @:<<
  @Html.Raw(" ");  
  @: < Prev
}

@if(Model.HasNextPage){
    @Html.ActionLink("Next >" , "Index" , new{ page = Model.PageNumber +1})
    @Html.Raw(" ");
    @Html.ActionLink(">>", "Index", new { page = Model.PageCount })  
}else{
  @:Next >
  @Html.Raw("");  
  @: >>
}
 
<!-- End show PagedList -->

@* 
@Html.PagedListPager(Model, page => Url.Action( 
"Index", 
new Page { page ,  searchBy = Request.QueryString["searchBy"],  search = Request.QueryString["search"] }) ,
new PagedListRenderOptions() {   Display = PagedListDisplayMode.IfNeeded ,  DisplayPageCountAndCurrentLocation =true , DisplayItemSliceAndTotal = true  }
) 
*@ 